{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold text-primary">
      Datos de Tarjeta de Combustible y GPS por fechas
    </h3>
  </div>
  <div class="card-body">
    <div class="table-reponsive">
      <table
        class="table table-bordered text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size:0.85rem;"
      >
        <thead>
          <tr>
            <th>No. Ómnibus</th>
            <th>No. Tarjeta Combustible</th>
            <th>Combustible Asignado</th>
            <th>Fecha asignación comb</th>
            <th>Km recorridos GPS</th>
            <th>Combustible consumido GPS</th>
            <th>Diferencia Tarjeta/GPS</th>
          </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
          <tr>
            <td>{{ reporte.noomnibus }}</td>
            <td>{{ reporte.notarjeta }}</td>
            <td>{{ reporte.combustible_asignado }}</td>
            <td>{{ reporte.fecha_asignacion }}</td>
            <td>{{ reporte.kmrecorridos }}</td>
            <td>{{ reporte.combustible_consumido_gps }}</td>
            <td>{{ reporte.diferencia_tarjeta_gps }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
