{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h3 class="m-0 font-weight-bold text-primary">Lista de Ómnibus</h3>
      </div>
      <div class="col-md-6 text-right">
        {% if not is_granted('ROLE_USUARIO' ) %}
        <a
          class="btn btn-sm btn-default  pull-left"
          href="{{ path('omnibus_new') }}"
        >
          <img
            src="{{ asset('assets/dist/img/add_database_26px.png') }}"
            alt="User Image"
          />
          Nuevo
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body" style="font-size: 0.65rem;">
    <div class="table responsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <th>No.</th>
          <th>Chapa</th>
          <th>Tipo</th>
          <th>Total de Kms Recorridos</th>
          <th>En Revisión</th>
          <th>Roto</th>
          <th>Por mantenim.</th>
          <th>Vence FICAV</th>
          <th>Lic. Operativa Vence</th>
          <th>Lic. Circulación Vence</th>
          {% if not is_granted('ROLE_USUARIO' ) %}
          <th>
            <img
              src="{{ asset('assets/dist/img/data_configuration_26px.png') }}"
              alt="User Image"
            />
            Acciones
          </th>
          {% endif %}
        </thead>
        <tbody>
          {% for omnibus in omnibuses %}
          <tr>
            <td>{{ omnibus.noOmnibus }}</td>
            <td>{{ omnibus.chapa }}</td>
            <td>{{ omnibus.typeOmnibus }}</td>
            <td>{{ omnibus.kmRecorridosAcumulados }}</td>
            <td>{% if omnibus.EnRevision %}Yes{% else %}No{% endif %}</td>
            <td>{% if omnibus.IsRoto %}Yes{% else %}No{% endif %}</td>
            <td>{% if omnibus.isMantenimiento %}Yes{% else %}No{% endif %}</td>
            <td>
              {% if omnibus.FICAVVencimiento %}
              {{ omnibus.FICAVVencimiento|date('Y-m-d')}}
              {% endif %}
            </td>
            <td>
              {% if omnibus.licenciaOperativaVencimiento %}
              {{ omnibus.licenciaOperativaVencimiento|date('Y-m-d')}}
              {% endif %}
            </td>
            <td>
              {% if omnibus.licenciaCirculacionVencimiento %}
              {{ omnibus.licenciaCirculacionVencimiento|date('Y-m-d')}}
              {% endif %}
            </td>
            <td>
              <div class="row">
                <div class="col-md-3">
                  <a
                    href="{{ path('omnibus_delete', { id: omnibus.id }) }}"
                    class="text-secondary"
                    data-tooltip="Eliminar"
                    data-tooltip-location="top"
                    title="Eliminar elemento"
                    onclick="return confirm('Esta seguro que desea eliminar el elemento')"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </div>
                <div class="col-md-3">
                  <a
                    href="{{ path('omnibus_show', { id: omnibus.id }) }}"
                    class="text-secondary"
                    data-tooltip="Visualizar"
                    data-tooltip-location="top"
                    ><i class="fas fa-eye"></i>
                  </a>
                </div>
                <div class="col-md-3">
                  <a
                    href="{{ path('omnibus_edit', { id: omnibus.id }) }}"
                    class="text-primary"
                    data-tooltip="Editar"
                    data-tooltip-location="top"
                    ><i class="fas fa-edit"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="mymodal" class="modal  inmodal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button
          aria-label="Close"
          data-dismiss="modal"
          class="close"
          type="button"
        >
          <span aria-hidden="true">×</span>
        </button>
        <i class="fa-3x fa fa-warning modal-icon text-red"></i>
        <h4 class="modal-title">Acción Peligrosa</h4>
      </div>
      <div class="modal-body">
        <p>
          Está acción puede ocacionar, comprometer la integridad de los datos!
        </p>
        <small
          >Si no es un usuario avanzado, recomendamos que cancele esta
          acción.</small
        >
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button">
          Cerrar
        </button>
        <a class="btn btn-primary btn-danger btn-delete" href="#">Eliminar</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
