{% extends 'index.html.twig' %}

{% block contenido%}
    {{ form_start(form, {'method' :'POST'}) }}
<div class="box box-danger">
    <div class="box-header with-border">
        <div class="user-block">
            <h3 class="text-center ">Nuevo Ómnibus</h3>
        </div><!-- /.user-block -->
        <div class="box-tools">
            <ul class="list-inline">
                <li>
                    <a class="text-info" href="{{ path('omnibus_index') }}">
                        <i class="glyphicon glyphicon glyphicon-hand-left"></i> Atràs</a>
                </li>
            </ul>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">NoControl</label>
                    {{ form_widget(form.noOmnibus, {'attr' : {'class' : 'form-control','pattern':'[0-9]+$' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Chapa</label>
                    {{ form_widget(form.chapa, {'attr' : {'class' : 'form-control' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Tipo</label>
                    {{ form_widget(form.typeOmnibus, {'attr' : {'class' : 'form-control' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Marca</label>
                    {{ form_widget(form.marca, {'attr' : {'class' : 'form-control' }})}}
                </div>
            </div>
        </div>
        {#<div class="row">#}
            {#<div class="col-sm-6">#}
                {#<div class="form-group">#}
                    {#<label class="col-sm-4 control-label">Índice CR</label>#}
                    {#{{ form_widget(form.indiceConsumoReal, {'attr' : {'class' : 'form-control','pattern':'([0-9,]+)$' }})}}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-sm-6">#}
                {#<div class="form-group">#}
                    {#<label class="col-sm-4 control-label">Kms Recorridos A</label>#}
                    {#{{ form_widget(form.kmRecorridosAcumulados, {'attr' : {'class' : 'form-control','pattern':'([0-9,]+)$' }})}}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-sm-6">#}
                {#<div class="form-group">#}
                    {#<label class="col-sm-4 control-label">Capacidad</label>#}
                    {#{{ form_widget(form.capacidad, {'attr' : {'class' : 'form-control' }})}}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-sm-6">#}
                {#<div class="form-group">#}
                    {#<label class="col-sm-4 control-label">Descripción</label>#}
                    {#{{ form_widget(form.descripcion, {'attr' : {'class' : 'form-control' }})}}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Base</label>
                    {{ form_widget(form.base, {'attr' : {'class' : 'form-control' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Revisión</label>
                    {{ form_widget(form.en_revision, {'attr' : {'class' : '' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Roto</label>
                    {{ form_widget(form.is_roto, {'attr' : {'class' : '' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Emisión FICAV</label>
                    {{ form_widget(form.FICAV_emision, {'attr' : {'class' : '' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Vencimiento FICAV</label>
                    {{ form_widget(form.FICAV_vencimiento, {'attr' : {'class' : '' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Licencia Operativa Emitida</label>
                    {{ form_widget(form.licenciaOperativaEmision, {'attr' : {'class' : '' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Licencia Operativa Vence</label>
                    {{ form_widget(form.licenciaOperativaVencimiento, {'attr' : {'class' : '' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Tarjeta de Combustible</label>
                    {{ form_widget(form.tarjetaCombustible, {'attr' : {'class' : 'form-control' }})}}
                </div>
            </div>
        </div>

        <table align="center">
            <tr align="">
                {#<td></td>#}
                {#<td  >   {{ form_widget(form.Submit) }}</td>#}
                <td style="width: 10px"> </td>
                <td><input type="submit" class="btn btn-danger btn " style="background-color: #6290ff;margin-right: 5%" value="Crear" /></td>
                <td><a class= "btn btn-danger btn " onclick="window.history.back();" href=""><span class=""> </span>Cancelar</a></td>
            </tr>
            <tr align="">
                {#<td style="width: 0px"> </td>#}

            </tr>
        </table>

    </div><!-- /.box widget-->
    {{ form_end(form) }}
    {#<h1>Base creation</h1>#}
</div><!
    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#<input type="submit" value="Create" />#}
    {#{{ form_end(form) }}#}

    {#<ul>#}
    {#<li>#}
    {#<a href="{{ path('base_index') }}">Back to the list</a>#}
    {#</li>#}
    {#</ul>#}
    {% endblock %}
