{% extends 'index.html.twig' %}

{% block contenido %}
<div class="box box-danger">
    <div class="box-header with-border">
        <div class="user-block">
            <h3 class="text-center ">Reporte General por Ómnibus</h3>
        </div><!-- /.user-block -->
        <div class="box-tools">
            <ul class="list-inline">
                <li>
                    {#<a class="text-info" href="{{ path('recaudacion_index') }}">#}
                        {#<i class="glyphicon glyphicon glyphicon-hand-left"></i> Atras</a>#}
                </li>
            </ul>
        </div>

    </div>
        <div class="panel-body">
        <table id="sample-table-2" class="table table-striped table-bordered table-hover">

            <thead>
            <tr>
                <th class="bg-primary">No. Ómnibus</th>
                <th class="bg-primary">Chapa</th>
                <th class="bg-primary">No. Tarjeta Combustible</th>
                <th class="bg-primary">Combustible Asignado</th>
                <th class="bg-primary">Combustible consumido GPS</th>
                <th class="bg-primary">Chofer</th>
                <th class="bg-primary">CI Chofer</th>
                <th class="bg-primary">No ruta</th>
                <th class="bg-primary">Fecha asignación comb</th>
                <th class="bg-primary">Km recorridos GPS</th>


            </tr>
            </thead>
            <tbody>

            {% for reporte in reportes %}
                <tr>
                    <td>{{ reporte.noomnibus }}</td>
                    <td>{{ reporte.chapa }}</td>
                    <td>{{ reporte.notarjeta }}</td>
                    <td>{{ reporte.combustible_asignado }}</td>
                    <td>{{ reporte.combustible_consumido_gps }}</td>
                    <td>{{ reporte.nombre }}</td>
                    <td>{{ reporte.ci }}</td>
                    <td>{{ reporte.noruta }}</td>
                    <td>{{ reporte.fecha_asignacion }}</td>
                    <td>{{ reporte.kmrecorridos }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}