{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card">
  <div class="card-header py-3">
    <div class="user-block">
      <h3 class="m-0 font-weight-bold text-primary">
        Reporte general por ómnibus
      </h3>
    </div>
    <!-- /.user-block -->
  </div>
  <div class="card-body">
    <div class="table-reponsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size:0.75rem;"
      >
        <thead>
          <tr>
            <th>No. Ómnibus</th>
            <th>Chapa</th>
            <th>No. Tarjeta Combustible</th>
            <th>Combustible Asignado (litros)</th>
            <th>Combustible Consumido GPS (litros)</th>
            <th>Chofer</th>
            <th>CI Chofer</th>
            <th>No ruta</th>
            <th>Fecha asignación comb</th>
            <th>Km recorridos GPS (litros)</th>
          </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
          <tr>
            <td>{{ reporte.noomnibus }}</td>
            <td>{{ reporte.chapa }}</td>
            <td>{{ reporte.notarjeta }}</td>
            <td>{{ reporte.combustible_asignado }}</td>
            <td>{{ reporte.combustible_consumido_gps }}</td>
            <td>{{ reporte.nombre }}</td>
            <td>{{ reporte.ci }}</td>
            <td>{{ reporte.noruta }}</td>
            <td>{{ reporte.fecha_asignacion }}</td>
            <td>{{ reporte.kmrecorridos }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<br />
{% endblock %}
