{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="row" style="font-size: 0.65rem;">
  {% for reporte in reportes %}
  <div class="col-md-3">
    <div class="card shadow" style="margin-bottom: 1rem;">
      <div class="card-body" style="padding:0.55rem;">
        <div class="media">
          <img
            src="{{ asset('assets/dist/img/yutong.jpg') }}"
            class="mr-3 rounded"
            alt="..."
            height="40"
            width="45"
          />
          <div class="media-body">
            <div class="row">
              <div class="col">
                <h6 class="mt-0" style="font-size: 0.85rem;">
                  Carro {{ reporte.noomnibus }}
                </h6>
              </div>
              <div class="col-auto text-right">
                <span
                  data-tooltip="{{
                    reporte.mantenimiento ? 'En mantenimiento' : 'Disponible'
                  }}"
                  data-tooltip-location="left"
                >
                  <i
                    class="fas fa-circle {{
                      reporte.mantenimiento ? 'text-danger' : 'text-success'
                    }}"
                  ></i>
                </span>
              </div>
            </div>
            <p>
              <span class="font-weight-bold">
                {{ reporte.kmrecorridosacumulados }}
              </span>
              kilómetros
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br />
<input
  id="kilometersData"
  type="text"
  value="{{ kmValuesArray }}"
  style="display:none;"
/>
<input
  id="omnibusNumbers"
  type="text"
  value="{{ omnibusNumbers }}"
  style="display:none;"
/>
<div class="row">
  <div class="col-md-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Visualización</h6>
      </div>
      <div class="card-body">
        <div class="chart-bar">
          <canvas id="myBarChart"></canvas>
        </div>
        <hr />
        En total se han recorrido
        <span class="font-weight-bold">{{ totalKilometers }}km</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
