{% extends 'index.html.twig' %}{% block contenido %}
<br />
<div class="col-md-8 offset-md-2">
  <div class="card promoting-card">
    <div class="card-body d-flex flex-row">
      <img
        src="{{ asset('assets/dist/img/yutong.jpg') }}"
        class="rounded-circle mr-3"
        height="50px"
        width="50px"
        alt="avatar"
      />
      <div style="width:100%">
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title font-weight-bold mb-2">
              Ómnibus {{ omnibus.noOmnibus }}
            </h4>
          </div>
          <div class="col-md-3 text-right">
            <a
              class="text-secondary"
              href="{{ path('omnibus_index') }}"
              data-tooltip="Atrás"
              data-tooltip-location="top"
            >
              <i class="fas fa-arrow-left"></i
            ></a>
          </div>
        </div>
        <p class="card-text">
          <span class="mr-3" data-tooltip="Chapa" data-tooltip-location="top">
            <i class="fas fa-bus pr-2"></i>
            {{ omnibus.chapa }}
          </span>
        </p>
        <hr />
        <table
          class="table table-striped"
          style="width:90%; font-size:0.85rem;"
        >
          <tr>
            <th style="padding: 0.25rem;">Tipo</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ omnibus.typeOmnibus }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Base</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ omnibus.base }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Tarjeta de Combustible</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ omnibus.tarjetaCombustible }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Índice CR</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ omnibus.indiceConsumoReal }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Kms Recorridos A</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ omnibus.kmRecorridosAcumulados }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Revisión</th>
            <td class="text-center" style="padding: 0.25rem;">
              {% if omnibus.EnRevision %}Sí{% else %}No{% endif %}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Roto</th>
            <td class="text-center" style="padding: 0.25rem;">
              {% if omnibus.IsRoto %}Sí{% else %}No{% endif %}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Por mantenimiento</th>
            <td class="text-center" style="padding: 0.25rem;">
              {% if omnibus.isMantenimiento %}Sí{% else %}No{% endif %}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Emisión FICAV</th>
            <td class="text-center" style="padding: 0.25rem;">
              {% if omnibus.FICAVEmision %}
              {{ omnibus.FICAVEmision|date('Y-m-d')}}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Vencimiento FICAV</th>
            <td class="text-center" style="padding: 0.25rem;">
              {% if omnibus.FICAVVencimiento %}
              {{ omnibus.FICAVVencimiento|date('Y-m-d')}}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Licencia Operativa E</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ omnibus.licenciaOperativaEmision|date('Y-m-d') }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Licencia Operativa V</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ omnibus.licenciaOperativaVencimiento|date('Y-m-d') }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Licencia Circulacion E</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ omnibus.licenciaCirculacionEmision|date('Y-m-d') }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Licencia Circulacion V</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ omnibus.licenciaCirculacionVencimiento|date('Y-m-d') }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-2 offset-md-9">
        <div class="row">
          <div class="col-md-6 text-right">
            <a
              class="text-secondary"
              href="#"
              rol="button"
              data-toggle="modal"
              data-target="#modalConfirmDelete-{{ omnibus.id }}"
              data-tooltip="Eliminar"
              data-tooltip-location="top"
            >
              <i class="fas fa-trash-alt"></i>
            </a>
            {% include "commons/confirmDeleteModal.html.twig" with
            {'instanceToDelete': omnibus,
            'path':'omnibus_delete'} %}
          </div>
          <div class="col-md-6">
            <a
              class="text-secondary"
              role="button"
              href="{{ path('omnibus_edit', { id: omnibus.id }) }}"
              data-tooltip="Editar"
              data-tooltip-location="top"
            >
              <i class="fas fa-edit"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body"></div>
  </div>
</div>
{% endblock %}
