{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tarjeta_combustible</h1>

    <table>
        <tbody>
            <tr>
                <th>Asignacion</th>
                <td>{{ tarjeta_combustible.asignacion }}</td>
            </tr>
            <tr>
                <th>Fechaasignacion</th>
                <td>{% if tarjeta_combustible.fechaAsignacion %}{{ tarjeta_combustible.fechaAsignacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Gastoreal</th>
                <td>{{ tarjeta_combustible.gastoReal }}</td>
            </tr>
            <tr>
                <th>Fechavencimiento</th>
                <td>{% if tarjeta_combustible.fechaVencimiento %}{{ tarjeta_combustible.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tipocombustible</th>
                <td>{{ tarjeta_combustible.tipoCombustible }}</td>
            </tr>
            <tr>
                <th>Notarjeta</th>
                <td>{{ tarjeta_combustible.noTarjeta }}</td>
            </tr>
            <tr>
                <th>Ping</th>
                <td>{{ tarjeta_combustible.ping }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tarjeta_combustible_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tarjeta_combustible_edit', { 'id': tarjeta_combustible.asignacion }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
