{% extends 'index.html.twig' %} {% block contenido %}
<br />
{{ form_start(edit_form, { method: "POST" }) }}
<div class="card shadow">
  <div class="card-header">
    <div class="col-md-8 offset-md-2">
      <h3>Editar Tarjeta de Combustible</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-8 offset-md-2">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">No. tarjeta</label>
            {{ form_widget(edit_form.noTarjeta,
              {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
            )}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Asignación (litros)</label>
            {{ form_widget(edit_form.asignacion,
              {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
            )}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Fecha de Asignación</label>
            {{ form_widget(edit_form.fechaAsignacion,
             {'attr' : {'class' : 'datepicker-here form-control'}}
            )}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Fecha de Vencimiento</label>
            {{ form_widget(edit_form.fechaVencimiento,
             {'attr' : {'class' : 'datepicker-here form-control' }}
            )}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Tipo de Combustible</label>
            {{ form_widget(edit_form.combustibleTipo,
                     {'attr' : {'class' : 'form-control'}}
            )}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Saldo Actual</label>
            {{ form_widget(edit_form.saldoActual,
             {'attr' : {'class' : 'form-control','pattern':'[0-9]+$' }}
            )}}
          </div>
        </div>
      </div>
      <br />
      <div class="text-right">
        <a
          class="btn btn-outline-secondary"
          href="{{ path('tarjeta_combustible_index') }}"
        >
          Cancelar
        </a>
        <input type="submit" class="btn btn-primary" value="Guardar" />
      </div>
      <br />
    </div>
  </div>
  {{ form_end(edit_form) }}
</div>
{% endblock %}
