{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h3 class="m-0 font-weight-bold text-primary">Tipos de Ómnibus</h3>
      </div>
      <div class="col-md-6 text-right">
        {% if not is_granted('ROLE_USUARIO' ) %}
        <a
          class="btn btn-sm btn-default  pull-left"
          href="{{ path('tipo_omnibus_new') }}"
        >
          <img
            src="{{ asset('assets/dist/img/add_database_26px.png') }}"
            alt="User Image"
          />
          Nuevo
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size:0.75rem;"
      >
        <thead>
          <th>Tipo</th>
          <th>Capacidad sentados</th>
          <th>Capacidad parados</th>
          <th>Capacidad total</th>
          <th>Índice Consumo Normado por Kms</th>
          <th>% de Desviación</th>
          <th>Cant de Kmts X Litro Combust. - norma</th>
          {% if not is_granted('ROLE_USUARIO' ) %}
          <th>
            Acciones
          </th>
          {% endif %}
        </thead>
        <tbody>
          {% for tipo_omnibus in tipo_omnibuses %}
          <tr>
            <td>{{ tipo_omnibus.tipo }}</td>
            <td>{{ tipo_omnibus.capacidadSentados }}</td>
            <td>{{ tipo_omnibus.capacidadParados }}</td>
            <td>{{ tipo_omnibus.capacidadTotal }}</td>
            <td>{{ tipo_omnibus.indiceConsumoNormado }}</td>
            <td>{{ tipo_omnibus.desviacion }}</td>
            <td>{{ tipo_omnibus.cantidadKmtsXlitro }}</td>
            <td>
              <div class="row">
                <div class="col-md-3 offset-md-1">
                  <a
                    class="text-secondary"
                    href="#"
                    rol="button"
                    data-toggle="modal"
                    data-target="#modalConfirmDelete-{{ tipo_omnibus.id }}"
                    data-tooltip="Eliminar"
                    data-tooltip-location="top"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </a>
                  <!--Modal: modalConfirmDelete-->
                  <div
                    class="modal fade"
                    id="modalConfirmDelete-{{ tipo_omnibus.id }}"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div
                      class="modal-dialog modal-sm modal-notify modal-danger"
                      role="document"
                    >
                      <div class="modal-content text-center">
                        <div class="modal-header d-flex justify-content-center">
                          <p class="heading">
                            Está seguro de realizar esta acción?
                          </p>
                        </div>
                        <div class="modal-body">
                          <i class="fas fa-times fa-4x animated rotateIn"></i>
                        </div>
                        <div class="modal-footer flex-center">
                          <a
                            type="button"
                            class="btn btn-outline-danger waves-effect"
                            href="{{
                              path('tipo_omnibus_delete', {
                                id: tipo_omnibus.id
                              })
                            }}"
                          >
                            Aceptar
                          </a>
                          <a
                            type="button"
                            class="btn  btn-danger waves-effect"
                            data-dismiss="modal"
                          >
                            Cancelar
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Modal: modalConfirmDelete-->
                </div>
                <div class="col-md-3">
                  <a
                    href="{{
                      path('tipo_omnibus_edit', { id: tipo_omnibus.id })
                    }}"
                    class="text-primary"
                    data-tooltip="Editar"
                    data-tooltip-location="top"
                    ><i class="fas fa-edit"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="mymodal" class="modal  inmodal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button
          aria-label="Close"
          data-dismiss="modal"
          class="close"
          type="button"
        >
          <span aria-hidden="true">×</span>
        </button>
        <i class="fa-3x fa fa-warning modal-icon text-red"></i>
        <h4 class="modal-title">Acción Peligrosa</h4>
      </div>
      <div class="modal-body">
        <p>
          Está acción puede ocacionar, comprometer la integridad de los datos!
        </p>
        <small
          >Si no es un usuario avanzado, recomendamos que cancele esta
          acción.</small
        >
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button">
          Cerrar
        </button>
        <a class="btn btn-primary btn-danger btn-delete" href="#">Eliminar</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
