{% extends 'index.html.twig' %} {% block contenido %}
<br />
{{ form_start(edit_form, { method: "POST" }) }}
<div class="card shadow">
  <div class="card-header">
    <div class="col-md-8 offset-md-2">
      <h3>Editar Ruta</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-8 offset-md-2">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Ruta</label>
            {{ form_widget(edit_form.noRuta, 
                {'attr' : {'class' : 'form-control'}}
            )}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Tipo de Servicio</label>
            {{ form_widget(edit_form.servicio, 
                {'attr' : {'class' : 'form-control' }}
            )}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Distancia en kms</label>
            {{ form_widget(edit_form.distanciaKm, 
              {'attr' : {'class' : 'form-control','pattern':'([0-9,]+)$' }}
            )}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Km Salida</label>
            {{ form_widget(edit_form.kmSalida, 
                {'attr' : {'class' : 'form-control','pattern':'([0-9,]+)$' }}
            )}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Cantidad de Pasajeros Promedio</label>
            {{ form_widget(edit_form.cantPasajerosPromedio, 
            {'attr' : {'class' : 'form-control'}}
            )}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Precio Pasaje</label>
            {{ form_widget(edit_form.precioPasaje, 
            {'attr' : {'class' : 'form-control'}}
            )}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Salida</label>
            {{ form_widget(edit_form.salida,
             {'attr' : {'class' : 'form-control' }}
            )}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Destino</label>
            {{ form_widget(edit_form.destino, {'attr' : {'class' : 'form-control'}}
            )}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Cantidad de Medios</label>
            {{ form_widget(edit_form.cantidadMedios,
                {'attr' : {'class' : 'form-control'}}
            )}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Punto de Expedición</label>
            {{ form_widget(edit_form.expedicion,
             {'attr' : {'class' : 'form-control'}}
            )}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Frecuencia</label>
            {{ form_widget(edit_form.dias, {'attr' : {'class' : '' }})}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Recaudación</label>
            {{ form_widget(edit_form.recaudacion, 
              {'attr' : {'class' : 'form-control'}}
            )}}
          </div>
        </div>
      </div>
      <br />
      <div class="text-right">
        <a class="btn btn-outline-secondary" href="{{ path('ruta_index') }}">
          Cancelar
        </a>
        <button type="submit" class="btn btn-primary" value="Editar">
          Guardar
        </button>
      </div>
      <br />
    </div>
    {{ form_end(edit_form) }}
  </div>
</div>
{% endblock %}
