{% extends 'index.html.twig' %} {% block contenido %}
<div class="row">
  <div class="col-sm-12 col-md-6">
    <h3 class="m-0 text-primary">Planificación Diaria de Combustible</h3>
  </div>
</div>
<br />
{{ form_start(form, { method: "POST" }) }}
<div class="form-inline text-right" style="justify-content: flex-end;">
  <div class="form-group mr-4">
    <label class="control-label mr-2 text-primary">Días a planificar</label>
    {{ form_widget(form.days,
             {'attr' : {'class' : 'form-control'}}
    )}}
  </div>
  &nbsp;
  <div class="form-group mr-4">
    <label class="control-label mr-2 text-primary">Precio combustible</label>
    {{ form_widget(form.fuel,
        {'attr' : {'class' : 'form-control' }}
    )}}
  </div>
  &nbsp;
  <div class="text-right">
    <input type="submit" class="btn btn-primary" value="Calcular" />
  </div>
  <br />
</div>
{{ form_end(form) }}
<br />
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-reponsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size: 0.85rem;"
      >
        <thead>
          <tr>
            <th>No Ruta</th>
            <th>No omnibus</th>
            <th>Cant medios</th>
            <th>Kms diarios</th>
            <th>Cant salidas</th>
            <th>Fecha</th>
            <th>Consumo diario</th>
            <th>Consumo total</th>
            <th>Gasto total</th>
          </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
          <tr>
            <td>{{ reporte.noruta }}</td>
            <td>{{ reporte.noomnibus }}</td>
            <td>{{ reporte.cantidadmedios }}</td>
            <td>{{ reporte.kms_diarios }}</td>
            <td>{{ reporte.cantidadsalidas }}</td>
            <td>{{ reporte.fecha }}</td>
            <td>{{ reporte.consumo_diario }}</td>
            <td>{{ reporte.consumo_total }}</td>
            <td>{{ reporte.gasto_total }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
