{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="col-md-8 offset-md-2">
  <div class="card promoting-card">
    <div class="card-body d-flex flex-row">
      <img
        src="{{
          asset('assets/dist/img/mapa-de-ruta-ethereum-ethereum-classic.jpg')
        }}"
        class="rounded-circle mr-3"
        height="50px"
        width="50px"
        alt="avatar"
      />
      <div style="width: 100%;">
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title font-weight-bold mb-2">
              Ruta {{ reporte.noruta }}
            </h4>
          </div>
          <div class="col-md-3 text-right">
            <a
              class="text-secondary"
              href="{{ path('ruta_reporte_incidencias') }}"
              data-tooltip="Atrás"
              data-tooltip-location="top"
            >
              <i class="fas fa-arrow-left"></i
            ></a>
          </div>
        </div>
        <hr />
        <table
          class="table table-striped"
          style="width: 90%; font-size: 0.85rem;"
        >
          <tr>
            <th style="padding: 0.25rem;">Omnibus</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ reporte.noomnibus }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Chofer</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ reporte.nombre }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Servicio</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ reporte.tipo }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Salida</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ reporte.salida }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Destino</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ reporte.destino }}
            </td>
          </tr>
          <tr>
            <th style="padding: 0.25rem;">Distancia</th>
            <td class="text-center" style="padding: 0.25rem;">
              {{ reporte.distanciakm }} km
            </td>
          </tr>
        </table>
        <p class="font-weight-bold">Incidencias</p>
        <ul>
          {%for incidencia in incidencias%}
          <li>
            {{ incidencia.detalles }}
          </li>
          {%endfor%}
        </ul>
      </div>
    </div>
    <br />
  </div>
</div>
{% endblock %}
