{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h3 class="m-0 font-weight-bold text-primary">Lista de Choferes</h3>
      </div>
      <div class="col-md-6 text-right">
        {% if not is_granted('ROLE_USUARIO' ) %}
        <a
          class="btn btn-sm btn-default  pull-left"
          href="{{ path('chofer_new') }}"
        >
          <img
            src="{{ asset('assets/dist/img/add_database_26px.png') }}"
            alt="User Image"
          />
          Nuevo
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body" style="font-size: 0.65rem;">
    <div class="table responsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <th class="text-center">Nombre y Apellidos</th>
          <th class="text-center">CI</th>
          <th class="text-center">Código Trabajador</th>
          <th class="text-center">No. Licencia Conducción</th>
          <th class="text-center">Licencia Conducción Vence</th>
          <th class="text-center">Examen Médico Vence</th>
          <th class="text-center">Examen Psicofisiológico Vence</th>
          {% if not is_granted('ROLE_USUARIO' ) %}
          <th class="text-center">
            Acciones
          </th>
          {% endif %}
        </thead>
        <tbody class="text-center">
          {% for reporte in reportes %}
          <tr>
            <td>{{ reporte.nombre }}</td>
            <td>{{ reporte.ci }}</td>
            <td>{{ reporte.codigo }}</td>
            <td>{{ reporte.nolicenciaoperativa }}</td>
            <td>{{ reporte.licenciavencimiento }}</td>
            <td>{{ reporte.examenmedicovencimiento }}</td>
            <td>{{ reporte.examenpsicofisiologicovencimiento }}</td>
            <td>
              <div class="row">
                <div class="col-md-3 offset-md-2 text-center">
                  <a
                    href="{{
                      path('chofer_show', { id: reporte.trabajador_id })
                    }}"
                    class="text-secondary"
                    data-tooltip="Visualizar"
                    data-tooltip-location="top"
                    ><i class="fas fa-eye"></i>
                  </a>
                </div>
                <div class="col-md-3 text-center">
                  <a
                    href="{{
                      path('chofer_edit', { id: reporte.trabajador_id })
                    }}"
                    data-tooltip="Editar"
                    data-tooltip-location="top"
                    ><i class="fas fa-edit"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="mymodal" class="modal  inmodal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button
          aria-label="Close"
          data-dismiss="modal"
          class="close"
          type="button"
        >
          <span aria-hidden="true">×</span>
        </button>
        <i class="fa-3x fa fa-warning modal-icon text-red"></i>
        <h4 class="modal-title">Acción Peligrosa</h4>
      </div>
      <div class="modal-body">
        <p>
          Está acción puede ocacionar, comprometer la integridad de los datos!
        </p>
        <small
          >Si no es un usuario avanzado, recomendamos que cancele esta
          acción.</small
        >
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button">
          Cerrar
        </button>
        <a class="btn btn-primary btn-danger btn-delete" href="#">Eliminar</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
