{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold text-primary">
      Resumen de horas trabajadas por chofer
    </h3>
  </div>
  <div class="card-body">
    <div class="table-reponsive">
      <table
        class="table table-bordered text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size:0.85rem;"
      >
        <thead>
          <tr>
            <th>Chofer</th>
            <th>Básico</th>
            <th>Con incremento</th>
            <th>Confronta</th>
            <th>Turno Partido</th>
            <th>Voluntario</th>
            <th>Total de Horas</th>
          </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
          <tr>
            <td>{{ reporte.nombre }}</td>
            <td>{{ reporte.horas_basico }}</td>
            <td>{{ reporte.horas_conincremento }}</td>
            <td>{{ reporte.horas_turnopartido }}</td>
            <td>{{ reporte.horas_confronta }}</td>
            <td>{{ reporte.horas_voluntario }}</td>
            <td>{{ reporte.totalhorastrabajadas }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
