{% extends 'index.html.twig' %} {% block contenido%}
<br />
<div class="col-md-8 offset-md-2">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          <h3>{{ chofer.nombre }}</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          Chofer del ómnibus {{ chofer.omnibus }} con licencia operativa
          {{ chofer.noLicenciaOperativa }}
        </div>
      </div>
      <br />
      <div class="row mb-3">
        <div class="col-md-6">
          <strong>Recalificación Emitida:</strong>
          {% if chofer.recalificacionEmision %}
          {{ chofer.recalificacionEmision|date('Y-m-d') }}
          {% endif %}
        </div>
        <div class="col-md-6">
          <strong> Recalificación Vence:</strong>
          {% if chofer.recalificacionVencimiento %}
          {{ chofer.recalificacionVencimiento|date('Y-m-d')}}
          {% endif %}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <strong>Examen Médico Emitido:</strong>
          {% if chofer.examenMedicoEmision %}
          {{ chofer.examenMedicoEmision|date('Y-m-d')}}
          {% endif %}
        </div>
        <div class="col-md-6">
          <strong>Examen Médico Vence:</strong>
          {% if chofer.examenMedicoVencimiento %}
          {{ chofer.examenMedicoVencimiento|date('Y-m-d')}}
          {% endif %}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <strong>Examen Psicofisiológico Emitido:</strong>
          <td>
            {% if chofer.examenPsicofisiologicoEmision %}
            {{ chofer.examenPsicofisiologicoEmision|date('Y-m-d')}}
            {% endif %}
          </td>
        </div>

        <div class="col-md-6">
          <strong>Examen Psicofisiológico Vence:</strong>
          <td>
            {% if chofer.examenPsicofisiologicoVencimiento %}
            {{ chofer.examenPsicofisiologicoVencimiento|date('Y-m-d')}}
            {% endif %}
          </td>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <strong>LC Emitida:</strong>
          {% if chofer.licenciaEmision %}
          {{ chofer.licenciaEmision|date('Y-m-d')}}
          {% endif %}
        </div>
        <div class="col-md-6">
          <strong>LC Vence:</strong>
          {% if chofer.licenciaVencimiento %}
          {{ chofer.licenciaVencimiento|date('Y-m-d')}}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-right">
        <a
          href="{{ path('chofer_edit', { id: chofer.id }) }}"
          class="btn btn-outline-secondary"
          data-toggle="tooltip"
          data-placement="left"
          title="Editar elemento"
        >
          Editar
        </a>
        <a class="btn btn-primary" href="{{ path('chofer_index') }}">
          Atrás
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
