{% extends 'index.html.twig' %} {% block contenido %}
<br />
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link {% if 'reporte_hoja_ruta_indicadores' in app.request.attributes.get('_route')%}active{% endif %}"
      href="{{ path('reporte_hoja_ruta_indicadores') }}"
    >
      Diario
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link {% if 'reporte_hoja_ruta_acumulado' in app.request.attributes.get('_route') %}active{% endif %}"
      href="{{ path('reporte_hoja_ruta_acumulado') }}"
    >
      Acumulado
    </a>
  </li>
</ul>
<br />
{{ form_start(form, { method: "POST" }) }}
<div class="form-inline text-right" style="justify-content: flex-end;">
  <div class="form-group mr-4">
    <label class="control-label mr-2 text-primary">Año</label>
    {{ form_widget(form.year,
             {'attr' : {'class' : 'form-control'}}
    )}}
  </div>
  &nbsp;
  <div class="form-group mr-4">
    <label class="control-label mr-2 text-primary">Mes</label>
    {{ form_widget(form.month,
        {'attr' : {'class' : 'form-control' }}
    )}}
  </div>
  &nbsp;
  <div class="text-right">
    <input type="submit" class="btn btn-primary" value="Filtrar" />
  </div>
  <br />
</div>
{{ form_end(form) }}
<br />
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h3 class="m-0 text-primary">
          Reporte Acumulado
        </h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-reponsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size: 0.85rem;"
      >
        <thead>
          <tr>
            <th>No Hoja Ruta</th>
            <th>No Ruta</th>
            <th>Destino</th>
            <th>No Ómnibus</th>
            <th>Marca</th>
            <th>Capacidad</th>
            <th>Precio del pasaje</th>
            <th>Cantidad de Viajes</th>
            <th>Kms Recorridos</th>
            <th>Combustible</th>
            <th>Recaudación</th>
          </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
          <tr>
            <td>{{ reporte.nohojaruta }}</td>
            <td>{{ reporte.noruta }}</td>
            <td>{{ reporte.destino }}</td>
            <td>{{ reporte.noomnibus }}</td>
            <td>{{ reporte.tipo }}</td>
            <td>{{ reporte.capacidad_total }}</td>
            <td>{{ reporte.preciopasaje }}</td>
            <td>{{ reporte.cantidadviajes }}</td>
            <td>{{ reporte.kmrecorridos }}</td>
            <td>{{ reporte.combustible }}</td>
            <td>{{ reporte.recaudacion }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
