{% extends 'index.html.twig' %} {% block contenido%}
<br />
{{ form_start(edit_form, { method: "POST" }) }}
<div class="card">
  <div class="card-header">
    <div class="col-md-8 offset-md-2">
      <h3>Editar Hoja de Ruta</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-8 offset-md-2">
      <div class="form-group">
        <label class="control-label">No Hoja de ruta</label>
        {{ form_widget(edit_form.NoHojaRuta,
                {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
        )}}
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Fecha</label>
            {{ form_widget(edit_form.fecha, 
                {'attr' : {'class' : 'datepicker-here form-control'}}
            )}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Ruta</label>
            {{ form_widget(edit_form.ruta, 
                {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
            )}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Ómnibus</label>
        {{ form_widget(edit_form.omnibus, 
                {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
        )}}
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Cantidad de Viajes</label>
            {{ form_widget(edit_form.cantidadViajes, 
                {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
            )}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Cantidad de Salidas</label>
            {{ form_widget(edit_form.cantidadSalidas,
                 {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
            )}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Horas de Trabajo Básico</label>
            {{ form_widget(edit_form.basico,
                 {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
            )}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Horas de Trabajo con Incremento</label>
            {{ form_widget(edit_form.conIncremento,
                 {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
            )}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Horas de Trabajo Confronta</label>
            {{ form_widget(edit_form.confronta,
                 {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
            )}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              Horas de Trabajo en Turno Partido
            </label>
            {{ form_widget(edit_form.turnopartido,
                 {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
            )}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Horas de Trabajo Voluntario</label>
            {{ form_widget(edit_form.voluntario,
                {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
            )}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Observaciones</label>
            {{ form_widget(edit_form.observaciones,
                 {'attr' : {'class' : 'form-control','pattern':'([A-Za-zÑñáéíóúÁÉÍÓÚ ]+)$'}}
            )}}
          </div>
        </div>
      </div>
      <br />
      <div class="text-right">
        <a
          class="btn btn-outline-secondary"
          href="{{ path('hojaruta_index') }}"
        >
          Cancelar</a
        >
        <input type="submit" class="btn btn-primary" value="Guardar" />
      </div>
      <br />
    </div>
  </div>
  {{ form_end(edit_form) }}
</div>
{% endblock %}
