{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow mb'4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h3 class="m-0 font-weight-normal text-primary">
          Hojas de Rutas
        </h3>
      </div>
      <div class="col-md-6 text-right">
        {% if not is_granted('ROLE_USUARIO' ) %}
        <a
          class="btn btn-sm btn-default  pull-left"
          href="{{ path('hojaruta_new') }}"
        >
          <img
            src="{{ asset('assets/dist/img/add_database_26px.png') }}"
            alt="User Image"
          />
          Nuevo
        </a>
        {% endif %}
      </div>
    </div>
    <div class="box-tools"></div>
  </div>
  <div class="card-body">
    <div class="table-reponsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size:0.75rem;"
      >
        <thead>
          <th>No.</th>
          <th>Fecha</th>
          <th>Ruta</th>
          <th>Ómnibus</th>
          <th>Cantidad de Viajes</th>
          <th>Cantidad de Salidas</th>
          <th>Total de Horas</th>
          <th>Incidencias</th>
          <th>Observaciones</th>
          {% if not is_granted('ROLE_USUARIO' ) %}
          <th>
            Acciones
          </th>
          {% endif %}
        </thead>
        <tbody>
          {% for hojaRuta in hojaRutas %}
          <tr>
            <td>{{ hojaRuta.noHojaRuta }}</td>
            <td>{{ hojaRuta.fecha|date('y-m-d')}}</td>
            <td>{{ hojaRuta.ruta }}</td>
            <td>{{ hojaRuta.omnibus }}</td>
            <td>{{ hojaRuta.cantidadViajes }}</td>
            <td>{{ hojaRuta.cantidadSalidas }}</td>
            <td>{{ hojaRuta.totalHoras }}</td>
            <td>
              <a
                href="{{
                  path('incidencia_new', { id_hojaruta: hojaRuta.id })
                }}"
                class="text-info"
                data-tooltip="Nueva incidencia"
                data-tooltip-location="top"
                ><i class="fas fa-plus-circle"></i>
              </a>
            </td>
            <td>{{ hojaRuta.observaciones }}</td>
            <td>
              <div class="row">
                <div class="col-md-4">
                  <a
                    class="text-secondary"
                    href="#"
                    rol="button"
                    data-toggle="modal"
                    data-target="#modalConfirmDelete-{{ hojaRuta.id }}"
                    data-tooltip="Eliminar"
                    data-tooltip-location="top"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </a>
                  {% include "commons/confirmDeleteModal.html.twig" with
                  {'instanceToDelete': hojaRuta, 'path':'hojaruta_delete'} %}
                </div>
                <div class="col-md-4">
                  <a
                    href="{{ path('hojaruta_show', { id: hojaRuta.id }) }}"
                    class="text-secondary"
                    data-tooltip="Visualizar"
                    data-tooltip-location="top"
                    ><i class="fas fa-eye"></i>
                  </a>
                </div>
                <div class="col-md-4">
                  <a
                    href="{{ path('hojaruta_edit', { id: hojaRuta.id }) }}"
                    class="text-primary"
                    data-tooltip="Editar"
                    data-tooltip-location="top"
                    ><i class="fas fa-edit"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="mymodal" class="modal  inmodal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button
          aria-label="Close"
          data-dismiss="modal"
          class="close"
          type="button"
        >
          <span aria-hidden="true">×</span>
        </button>
        <i class="fa-3x fa fa-warning modal-icon text-red"></i>
        <h4 class="modal-title">Acción Peligrosa</h4>
      </div>
      <div class="modal-body">
        <p>
          Está acción puede ocacionar, comprometer la integridad de los datos!
        </p>
        <small
          >Si no es un usuario avanzado, recomendamos que cancele esta
          acción.</small
        >
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button">
          Cerrar
        </button>
        <a class="btn btn-primary btn-danger btn-delete" href="#">Eliminar</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
