{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="col-md-8 offset-md-2">
  <div class="card promoting-card">
    <div class="card-body d-flex flex-row">
      <img
        src="{{
          asset('assets/dist/img/mapa-de-ruta-ethereum-ethereum-classic.jpg')
        }}"
        class="rounded-circle mr-3"
        height="50px"
        width="50px"
        alt="avatar"
      />
      <div style="width:100%">
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title font-weight-bold mb-2">
              Hoja de ruta {{ hojaRutum.noHojaRuta }}
            </h4>
          </div>
          <div class="col-md-3 text-right">
            <a
              class="text-secondary"
              href="{{ path('hojaruta_index') }}"
              data-tooltip="Atrás"
              data-tooltip-location="top"
            >
              <i class="fas fa-arrow-left"></i
            ></a>
          </div>
        </div>
        <p class="card-text">
          <span class="mr-3" data-tooltip="Fecha" data-tooltip-location="top">
            <i class="fas fa-clock pr-2"></i>{{ hojaRutum.fecha|date('d/m/Y') }}
          </span>
          <span class="mr-3" data-tooltip="Ruta" data-tooltip-location="top">
            <i class="fas fa-route pr-2"></i>{{ hojaRutum.ruta }}
          </span>
          <span class="mr-3" data-tooltip="Ómnibus" data-tooltip-location="top">
            <i class="fas fa-bus pr-2"></i>{{ hojaRutum.omnibus }}
          </span>
        </p>
        <hr />
        <table
          class="table table-borderless"
          style="width:90%; font-size:0.85rem;"
        >
          <tr>
            <th style="padding: 0.25rem;">Cantidad de viajes</th>
            <td>{{ hojaRutum.cantidadViajes }}</td>
          </tr>
          <tr>
            <th style="padding: 0rem;">Cantidad de salidas</th>
            <td>{{ hojaRutum.cantidadSalidas }}</td>
          </tr>
          <tr>
            <th style="padding: 0rem;">Horas de Trabajo Básico</th>
            <td>{{ hojaRutum.basico }}</td>
          </tr>
          <tr>
            <th style="padding: 0rem;">Horas de Trabajo Turno Partido</th>
            <td>{{ hojaRutum.turnopartido }}</td>
          </tr>
          <tr>
            <th style="padding: 0rem;">Horas de Trabajo Con Incremento</th>
            <td>{{ hojaRutum.conIncremento }}</td>
          </tr>
          <tr>
            <th style="padding: 0rem;">Horas de Trabajo Confronta</th>
            <td>{{ hojaRutum.confronta }}</td>
          </tr>
          <tr>
            <th style="padding: 0rem;">Horas de Trabajo Voluntario</th>
            <td>{{ hojaRutum.voluntario }}</td>
          </tr>
          <tr>
            <th style="padding: 0rem;">Total de Horas</th>
            <td>{{ hojaRutum.totalHoras }}</td>
          </tr>
          <tr>
            <th style="padding: 0rem;">Observaciones</th>
            <td>{{ hojaRutum.observaciones }}</td>
          </tr>
        </table>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-2 offset-md-9">
        <div class="row">
          <div class="col-md-6 text-right">
            <a
              href="{{ path('hojaruta_delete', { id: hojaRutum.id }) }}"
              class="text-secondary"
              data-tooltip="Eliminar"
              data-tooltip-location="top"
              onclick="return confirm('Esta seguro que desea eliminar el elemento')"
            >
              <i class="fas fa-trash-alt"></i>
            </a>
          </div>
          <div class="col-md-6">
            <a
              class="text-secondary"
              role="button"
              href="{{ path('hojaruta_edit', { id: hojaRutum.id }) }}"
              data-tooltip="Editar"
              data-tooltip-location="top"
            >
              <i class="fas fa-edit"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body"></div>
  </div>
</div>
{% endblock %}
