<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <title id="elemento6">
            {% block title %}
                |Bienvenido!
            {% endblock %}
        </title>

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block stylesheets %}
            <!-- Bootstrap 3.3.5 -->
            <link
            rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
            <!-- Font Awesome -->
            <link
            rel="stylesheet" href="{{ asset('assets/dist/font-awesome/css/font-awesome.min.css') }}">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('assets/dist/css/AdminLTE.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/dist/css/fonts.googleapis.SourceSansPro.css') }}">


            {#<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">#}
            {#<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet">#}
            {#<link rel="stylesheet" href="{{ asset('css/style.min.css') }}" rel="stylesheet">#}
            {#<link rel="stylesheet" href="{{ asset('css/style-responsive.min.css') }}" rel="stylesheet">#}
            {#<link rel="stylesheet" href="{{ asset('css/retina.css') }}" rel="stylesheet">#}

            {#<link href="css/bootstrap.min.css" rel="stylesheet" />#}
            {#<link href="css/bootstrap-responsive.min.css" rel="stylesheet" />#}
            {#<link href="css/style.min.css" rel="stylesheet" />#}
            {#<link href="css/style-responsive.min.css" rel="stylesheet" />#}
            {#<link href="css/retina.css" rel="stylesheet" />#}
            <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
                          page. However, you can choose any other skin. Make sure you
                          apply the skin class to the body tag so the changes take effect.
                    -->
        <link rel="stylesheet" href="{{ asset('assets/dist/css/skins/_all-skins.css') }}"> {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('apple-touch-icon.png') }}"/>
    </head>
    <header class="main-header">
        {% block header %}
            {% include 'header.html.twig' %}
        {% endblock %}
    </header>
    <aside class="main-sidebar">
        {% block sidebar %}
            {% include 'sidebar.html.twig' %}
        {% endblock %}
    </aside>
    <body>

        {% block body %}
            <div class="wrapper">

                <!-- Main Header -->


                <!-- Left side column. contains the logo and sidebar -->


                <!-- Content Wrapper. Contains page content -->
                    <div
                    class="content-wrapper"> <!-- Content Header (Page header) -->
                    {% block content_header %}
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <br>

                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        {#{%include ':default:content-header.html.twig'%}#}

                    {% endblock %}
                    <section class="content">
                        <!-- Your Page Content Here -->
                        <!-- Main content -->
                            {% block contenido %}
                                <div>
                                    <div align="center" style="padding: 40px"> <div style="font-style: italic; text-decoration-style: double">
                                        <h3>MISIÓN</h3>
                                    </div>
                                    <h4>Satisfacemos las expectativas de los clientes con servicios de transportación de pasajeros,
                                                                            conexos  y cargas en general con trabajadores de un  alto sentido de pertenencia  y
                                                                            un parque de equipos  en constante revitalización.
                                    </h4>
                                    <div style="font-style: italic; text-decoration-style: double">
                                        <h3>VISIÓN</h3>
                                    </div>
                                    <h4>Somos líderes en la prestación de servicios a nuestros clientes, con calidad,
                                                                           oportunidad y seguridad.</h4>

                                    <div style="font-style: italic; text-decoration-style: double">
                                        <h3>ORGANIGRAMA</h3>
                                    </div>
                                    <img height="609" width="1119" src="{{ asset('assets/dist/img/Organigrama Empresa.png') }}">
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        {% endblock %}
                        <!-- /.content -->
                    </section>
                </div>
                <!-- /.content-wrapper -->

                <!-- Main Footer -->

            </div>
            <!-- ./wrapper -->

        {% endblock %}
        <footer
            id="elemento4" style="text-align: center" class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs"></div>
            <!-- Default to the left -->
            <a href="{{ path('index') }}">
                <strong>Sistema de gestión de información de la UEB Ómnibus Holguín</strong>
            </a>
            &copy;{{'now' | date('d-m-Y')}}
            <br>

        </footer>
    </body>
    {% block javascripts %}
        <!-- REQUIRED JS SCRIPTS -->

        <!-- jQuery 2.2.0 --><script src="{{ asset('assets/plugins/jQuery/jQuery-2.2.0.min.js') }}"> </script>
        <!-- Bootstrap 3.3.5 -->
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <!-- AdminLTE App -->
        <script src="{{ asset('assets/dist/js/app.min.js') }}"></script>

        {#<script src="{{ asset('Script/jquery-ui-1.10.3.custom.min.js') }}"></script>#}
    {#<script src="{{ asset('Script/jquery.ui.touch-punch.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.cleditor.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.noty.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.elfinder.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.raty.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.iphone.toggle.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.uploadify-3.1.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.gritter.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.imagesloaded.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.masonry.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.knob.modified.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.sparkline.min.js') }}"></script>#}

        {#<script src="{{ asset('Script/counter.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/raphael.2.1.0.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/justgage.1.0.1.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/jquery.autosize.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/retina.js') }}"></script>#}
        {#<script src="{{ asset('Script/wizard.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/wizard.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/core.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/charts.min.js') }}"></script>#}
        {#<script src="{{ asset('Script/custom.min.js') }}"></script>#}


        <!-- Optionally, you can add Slimscroll and FastClick plugins.
                 Both of these plugins are recommended to enhance the
                 user experience. Slimscroll is required when using the
                 fixed layout.
            -->

        {#<script src="js/jquery.uploadify-3.1.min.js"></script>#}
        {#<script src="js/jquery.gritter.min.js"></script>#}
        {#<script src="js/jquery.imagesloaded.js"></script>#}
        {#<script src="js/jquery.masonry.min.js"></script>#}
        {#<script src="js/jquery.knob.modified.js"></script>#}
        {#<script src="js/jquery.sparkline.min.js"></script>#}
        {#<script src="js/counter.min.js"></script>#}
        {#<script src="js/raphael.2.1.0.min.js"></script>#}
        {#<script src="js/justgage.1.0.1.min.js"></script>#}
        {#<script src="js/jquery.autosize.min.js"></script>#}
        {#<script src="js/retina.js"></script>#}
        {#<script src="js/jquery.placeholder.min.js"></script>#}
        {#<script src="js/wizard.min.js"></script>#}
        {#<script src="js/core.min.js"></script>#}
        {#<script src="js/charts.min.js"></script>#}
        {#<script src="js/custom.min.js"></script>#}
        <!-- page script -->

    {% endblock javascripts %}

</html>
