<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title id="elemento6">
      {% block title %} |Bienvenido! {% endblock %}
    </title>

    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    {% block stylesheets %}
    <!-- Bootstrap 3.3.5 -->
    <link
      rel="stylesheet"
      href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="{{ asset('assets/dist/font-awesome/css/font-awesome.min.css') }}"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('assets/dist/css/AdminLTE.css') }}" />
    <link
      rel="stylesheet"
      href="{{ asset('assets/dist/css/fonts.googleapis.SourceSansPro.css') }}"
    />

    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
                          page. However, you can choose any other skin. Make sure you
                          apply the skin class to the body tag so the changes take effect.
                    -->
    <link
      rel="stylesheet"
      href="{{ asset('assets/dist/css/skins/_all-skins.css') }}"
    />
    {% endblock %}

    <link
      rel="icon"
      type="image/x-icon"
      href="{{ asset('apple-touch-icon.png') }}"
    />

    <!-- admin bootstrap template -->
    <link
      rel="stylesheet"
      href="{{ asset('css/admin-template/sb-admin.css') }}"
    />
  </head>
  <header class="main-header">
    {% block header %} {% include 'header.html.twig' %} {% endblock %}
  </header>
  <aside class="main-sidebar">
    {% block sidebar %} {% include 'sidebar.html.twig' %} {% endblock %}
  </aside>
  <body>
    {% block body %}
    <div class="wrapper">
      <!-- Main Header -->

      <!-- Left side column. contains the logo and sidebar -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block content_header %}
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <br />
          </div>
          <div class="col-md-1"></div>
        </div>
        {#{%include ':default:content-header.html.twig'%}#} {% endblock %}
        <section class="content">
          <!-- Your Page Content Here -->
          <!-- Main content -->
          {% block contenido %}
          <div>
            <div align="center" style="padding: 40px">
              <div style="font-style: italic; text-decoration-style: double">
                <h3>MISIÓN</h3>
              </div>
              <h4>
                Satisfacemos las expectativas de los clientes con servicios de
                transportación de pasajeros, conexos y cargas en general con
                trabajadores de un alto sentido de pertenencia y un parque de
                equipos en constante revitalización.
              </h4>
              <div style="font-style: italic; text-decoration-style: double">
                <h3>VISIÓN</h3>
              </div>
              <h4>
                Somos líderes en la prestación de servicios a nuestros clientes,
                con calidad, oportunidad y seguridad.
              </h4>

              <div style="font-style: italic; text-decoration-style: double">
                <h3>ORGANIGRAMA</h3>
              </div>
              <img
                height="609"
                width="1119"
                src="{{ asset('assets/dist/img/Organigrama Empresa.png') }}"
              />
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
          {% endblock %}
          <!-- /.content -->
        </section>
      </div>
      <!-- /.content-wrapper -->

      <!-- Main Footer -->
    </div>
    <!-- ./wrapper -->

    {% endblock %}
    <footer id="elemento4" style="text-align: center" class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs"></div>
      <!-- Default to the left -->
      <a href="{{ path('index') }}">
        <strong
          >Sistema de gestión de información de la UEB Ómnibus Holguín</strong
        >
      </a>
      &copy;{{'now' | date('d-m-Y')}}
      <br />
    </footer>
  </body>
  {% block javascripts %}
  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 2.2.0 -->
  <script src="{{
      asset('assets/plugins/jQuery/jQuery-2.2.0.min.js')
    }}"></script>
  <!-- Bootstrap 3.3.5 -->
  <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
  <!-- AdminLTE App -->
  <script src="{{ asset('assets/dist/js/app.min.js') }}"></script>
  <script src="{{ asset('js/javascript/sb-admin.min.js') }}"></script>
  {% endblock javascripts %}
</html>
