<section id="elemento2" class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        {#<li class="sidebar-menu"><span><h4>Panel de Navegación</h4></span></li>#}
        <!-- Optionally, you can add icons to the links -->
        <br>
        <br>

        {% if is_granted('ROLE_ADMIN') %}
        <li class="treeview">
            <a href="#"><i class="glyphicon glyphicon-tag"></i> <span>Administración</span><i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a href="{{ path('usuario_index') }}">
                        <i class="fa fa-users"></i> <span>Usuarios</span></i>
                    </a>
                </li>

                {#<li >#}
                    {#<a href=""><i class="glyphicon glyphicon-asterisk"></i> Salvar Base de Datos</a>#}
                {#</li>#}

                <li >
                    <a href="{{ path('base_index')}}"><i class="glyphicon glyphicon-star-empty"></i> <span>Base</span> </a>
                </li>
            </ul>
        </li>
        {% endif %}
            {#<li class="treeview">#}
                {#<a href="#"><i class="glyphicon glyphicon-user"></i> <span>Mi Perfil</span> <i class="fa fa-angle-left pull-right"></i></a>#}
                {#<ul class="treeview-menu">#}
                    {#<li>#}
                        {#<a href="">#}
                            {#<i class="fa fa-circle-o text-orange"></i> Mi  Perfil#}
                        {#</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('usuario_index') }}">#}
                            {#<i class="fa fa-circle-o text-orange"></i> Editar#}
                        {#</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="">#}
                            {#<i class="fa fa-circle-o text-orange"></i> Cambiar contraseña#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}


            <li class="treeview">
                <a href="#"><i class="glyphicon glyphicon-list"></i> <span>Dpto de Operaciones</span><i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li >
                        <a href="{{ path('chofer_index') }}"><i class="glyphicon glyphicon-user"></i> <span>Choferes</span> </a>
                    </li>

                    <li >
                        <a href="{{ path('omnibus_index') }}"><i class="glyphicon glyphicon-calendar"></i> <span>Ómnibus</span> </a>
                        {#<i class="glyphicon glyphicon-"></i>#}
                    </li>

                    <li>
                        <a href="{{ path('tipo_omnibus_index')}}"><i class="glyphicon glyphicon-calendar"></i> <span>Tipo de Ómnibus</span> </a>
                    </li>

                    <li>
                        <a href="{{ path('ruta_index') }}"><i class="fa fa-fw fa-pencil-square-o"></i> <span>Rutas</span> </a>
                    </li>
                    <li >
                        <a href="{{ path('pto_expedicion_index') }}"><i class="glyphicon glyphicon-calendar"></i> <span>Ptos de expedición</span> </a>
                        {#<i class="glyphicon glyphicon-"></i>#}
                    </li>
                    <li>
                        <a href="{{ path('escogidaturno_index') }}"><i class="fa fa-fw fa-pencil-square-o"></i> <span>Escogida de Turno </span> </a>
                    </li>

                    <li>
                        <a href="{{ path('hojaruta_index') }}"><i class="fa fa-fw fa-pencil-square-o"></i> <span>Hoja de Ruta</span> </a>
                    </li>
                    <li>
                        <a href="{{ path('tipoincidencia_index') }}"><i class="fa fa-fw fa-pencil-square-o"></i> <span>Tipo de Incidencias</span> </a>
                    </li>
                    <li>
                        <a href="{{ path('incidencia_index') }}"><i class="fa fa-fw fa-pencil-square-o"></i> <span>Incidencias</span> </a>
                    </li>
                    {#<li>#}
                        {#<a href=""><i class="fa fa-fw fa-pencil-square-o"></i> <span>Plan de Combustible</span> </a>#}
                    {#</li>#}
                    <li>
                        {#<a href="{{ path('tipo_horas_trabajo_index') }}"><i class="fa fa-fw fa-pencil-square-o"></i> <span>Horas de Trabajo</span> </a>#}
                    </li>
                </ul>
            </li>


        <li class="treeview">
            <a href="#"><i class="glyphicon glyphicon-list"></i> <span>Dpto de Energía</span><i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a href="{{ path('tarjeta_combustible_index') }}">
                        <i class="fa fa-credit-card"></i> <span>Tarjeta de Combustible</span></i>
                    </a>
                </li>

                {#<li >#}
                    {#<a href="{{ path('tipocombustible_index') }}"><i class="glyphicon glyphicon-star"></i> Tipo de Combustible</a>#}
                {#</li>#}
            </ul>
        </li>

        <li class="treeview">
            <a href="#"><i class="glyphicon glyphicon-list"></i> <span>Dpto de RRHH</span><i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a href="{{ path('trabajador_index') }}">
                        <i class="glyphicon glyphicon-user"></i> <span>Trabajador</span></i>
                    </a>
                </li>
                {#<li>#}
                    {#<a href="">#}
                        {#<i class="fa fa-money"></i> <span>Salarios</span></i>#}
                    {#</a>#}
                {#</li>#}
            </ul>
                </li>
        <li class="treeview">
            <a href="#"><i class="glyphicon glyphicon-list"></i> <span>Dpto de Control de Flotas</span><i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a href="">
                <li><a href="{{ path('gps_index') }}"><i class="fa fa-circle-o text-aqua"></i>Control de Flotas</a></li>
                    </a>
                </li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#"><i class="glyphicon glyphicon-list"></i> <span>Dpto de Recaudación</span><i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a href="{{ path('recaudacion_index') }}">
                        <i class="fa fa-money"></i> <span>Recaudaciones</span></i>
                    </a>
                </li>
                <li>
                <li><a href="{{ path('recaudacion_recaudacionXfecha') }}"><i class="fa fa-circle-o text-aqua"></i> <span>Recaudación Total por Fecha</span></i>
                    </a>
                </li>

                {#<li >#}
                {#<a href="{{ path('tipocombustible_index') }}"><i class="glyphicon glyphicon-star"></i> Tipo de Combustible</a>#}
                {#</li>#}
            </ul>
        </li>

<li class="treeview">
                <a href="#"><i class="fa fa-fw fa-filter"></i> <span>Reportes</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('ruta_reporte') }}"><i class="fa fa-circle-o text-aqua"></i>Incidencias por Ruta y Ómnibus</a></li>
                    <li><a href="{{ path('chofer_reporte') }}"><i class="fa fa-circle-o text-aqua"></i>Horas Trabajadas por Chofer</a></li>
                    {#<li><a href="{{ path('reporte_hoja_ruta_fecha') }}"><i class="fa fa-circle-o text-aqua"></i>Hojas de Ruta</a></li>#}
                    <li><a href="{{ path('plan_combustible') }}"><i class="fa fa-circle-o text-aqua"></i>Plan de Combustible</a></li>
                    <li><a href="{{ path('plan_recaudacion') }}"><i class="fa fa-circle-o text-aqua"></i>Plan de Recaudación</a></li>
                    <li><a href="{{ path('omnibus_reporteKms') }}"><i class="fa fa-circle-o text-aqua"></i>Kilómetros Recorridos Ómnibus</a></li>
                    <li><a href="{{ path('combustibleHabilitado') }}"><i class="fa fa-circle-o text-aqua"></i>Datos de Tarjeta de Combustible y Gps</a></li>
                    <li><a href="{{ path('reporteporOmnibus') }}"><i class="fa fa-circle-o text-aqua"></i>Reporte General por Ómnibus</a></li>
                    {# <li><a href=""><i class="fa fa-circle-o text-aqua"></i>Taller 2</a></li> #}
                </ul>
            </li>

    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->