{% trans_default_domain 'FOSUserBundle' %}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Cambiar contraseña</h3>
        <div class="box-tools pull-right">
    </div><!-- /.box-header -->
    <div class="box-body">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password'), 'attr': {'class': 'form-horizontal fos_user_registration_register'}}) }}

        {{ form_errors(form) }}

        <div class="form-group{% if form.current_password.vars.errors[0].message is defined %} has-error{% endif %}">
            {{ form_label(form.current_password, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-5">
                {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                {% if form.current_password.vars.errors[0].message is defined %}
                    <span class="help-block">
                            {{ form.current_password.vars.errors[0].message }}
                        </span>
                {% endif %}
            </div>
        </div>

        <div class="form-group{% if form.plainPassword.first.vars.errors[0].message is defined %} has-error{% endif %}">
            {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-5">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                {% if form.plainPassword.first.vars.errors[0].message is defined %}
                    <span class="help-block">
                            {{ form.plainPassword.first.vars.errors[0].message }}
                        </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.plainPassword.second.vars.errors[0].message is defined %} has-error{% endif %}">
            {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-5">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                {% if form.plainPassword.second.vars.errors[0].message is defined %}
                    <span class="help-block">
                            {{ form.plainPassword.second.vars.errors[0].message }}
                        </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-danger" type="submit">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div>
        </div>

        {{ form_end(form) }}

    </div><!-- /.box-body -->

    <div class="box-footer">
    </div><!-- box-footer -->
    </div>
</div>

