{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h3 class="m-0 text-primary">Choferes</h3>
      </div>
    </div>
  </div>
  <div class="card-body" style="font-size: 0.65rem;">
    <div class="table responsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <th class="text-center">Nombre y Apellidos</th>
          <th class="text-center">CI</th>
          <th class="text-center">Código Trabajador</th>
          <th class="text-center">No. Licencia Conducción</th>
          <th class="text-center">Licencia Conducción Vence</th>
          <th class="text-center">Examen Médico Vence</th>
          <th class="text-center">Examen Psicofisiológico Vence</th>
          <th class="text-center">
            Acciones
          </th>
        </thead>
        <tbody class="text-center">
          {% for reporte in reportes %}
          <tr>
            <td>{{ reporte.nombre }}</td>
            <td>{{ reporte.ci }}</td>
            <td>{{ reporte.codigo }}</td>
            <td>{{ reporte.nolicenciaoperativa }}</td>
            <td>
              {% if reporte.licenciavencimiento %}
              {{ reporte.licenciavencimiento }}
              &nbsp; {% if date(reporte.licenciavencimiento) > date() and
              date(reporte.licenciavencimiento) < date('+7days') %}
              <span
                class="badge badge-pill badge-warning"
                data-tooltip="A punto de vencerse"
                data-tooltip-location="top"
              >
                <i class="fas fa-info"></i>
              </span>
              {% endif %} {% if date(reporte.licenciavencimiento) < date() %}
              <span
                class="badge badge-pill badge-danger"
                data-tooltip="Documento vencido"
                data-tooltip-location="top"
              >
                <i class="fas fa-info"></i>
              </span>
              {% endif %} {% endif %}
            </td>
            <td>
              {% if reporte.examenmedicovencimiento %}
              {{ reporte.examenmedicovencimiento }}
              &nbsp; {% if date(reporte.examenmedicovencimiento) > date() and
              date(reporte.examenmedicovencimiento) < date('+7days') %}
              <span
                class="badge badge-pill badge-warning"
                data-tooltip="A punto de vencerse"
                data-tooltip-location="top"
              >
                <i class="fas fa-info"></i>
              </span>
              {% endif %} {% if date(reporte.examenmedicovencimiento) < date()
              %}
              <span
                class="badge badge-pill badge-danger"
                data-tooltip="Documento vencido"
                data-tooltip-location="top"
              >
                <i class="fas fa-info"></i>
              </span>
              {% endif %} {% endif %}
            </td>
            <td>
              {% if reporte.examenpsicofisiologicovencimiento %}
              {{ reporte.examenpsicofisiologicovencimiento }}
              &nbsp; {% if date(reporte.examenpsicofisiologicovencimiento) >
              date() and date(reporte.examenpsicofisiologicovencimiento) <
              date('+7days') %}
              <span
                class="badge badge-pill badge-warning"
                data-tooltip="A punto de vencerse"
                data-tooltip-location="top"
              >
                <i class="fas fa-info"></i>
              </span>
              {% endif %} {% if date(reporte.examenpsicofisiologicovencimiento)
              < date() %}
              <span
                class="badge badge-pill badge-danger"
                data-tooltip="Documento vencido"
                data-tooltip-location="top"
              >
                <i class="fas fa-info"></i>
              </span>
              {% endif %} {% endif %}
            </td>
            <td>
              <div class="row">
                <div class="col text-center">
                  <a
                    href="{{
                      path('chofer_show', { id: reporte.trabajador_id })
                    }}"
                    class="text-secondary"
                    data-tooltip="Visualizar"
                    data-tooltip-location="top"
                    ><i class="fas fa-eye"></i>
                  </a>
                </div>
                {% if is_granted('ROLE_ADMIN' ) or
                is_granted('ROLE_ESPECIALISTA_OPERACIONES' ) %}
                <div class="col text-center">
                  <a
                    href="{{
                      path('chofer_edit', { id: reporte.trabajador_id })
                    }}"
                    data-tooltip="Editar"
                    data-tooltip-location="top"
                    ><i class="fas fa-edit"></i>
                  </a>
                </div>
                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
