
{% extends 'index.html.twig' %}

{% block contenido %}
    <div class="box box-danger">
        <div class="box-header with-border">
            <div class="user-block">
                <h3 class="text-center ">Lista de Escogidas de Turnos </h3>
            </div><!-- /.user-block -->
            <div class="box-tools">
                <ul class="list-inline">
                    <li>
                        <a class="text-info" href="{{ path('escogidaturno_index') }}">
                            <i class="glyphicon glyphicon glyphicon-hand-left"></i> Atràs</a>
                    </li>
                </ul>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Ruta :<td>{{ escogidaTurno.ruta }}</td></th>
                </tr>
                <tr>
                    <th>Ómnibus :<td>{{ escogidaTurno.omnibus }}</td></th>
                </tr>
                <tr>
                    <th>Turno : <td>{{ escogidaTurno.turno }}</td></th>
                </tr>
                <tr>
                    <th>Empieza :   <td>{% if escogidaTurno.empieza %}{{ escogidaTurno.empieza|date('H:i') }}{% endif %}</td></th>
                </tr>
                <tr>
                    <th>Sale :<td>{% if escogidaTurno.sale %}{{ escogidaTurno.sale|date('H:i') }}{% endif %}</td></th>
                </tr>
                <tr>
                    <th>Termina : <td>{% if escogidaTurno.termina %}{{ escogidaTurno.termina|date('H:i') }}{% endif %}</td></th>
                </tr>
                <tr>
                    <th>Cantidad de viajes :<td>{{ escogidaTurno.cantidadViajes }}</td></th>
                </tr>
                <tr>
                    <th>Chofer :  <td>{{ escogidaTurno.chofer }}</td></th>
                </tr>
                <tr>
                    <th>Cantidad de días de descanso :  <td>{{ escogidaTurno.descansoDias }}</td></th>
                </tr>
                <tr>
                    <th>Comienzo del descanso :  <td>{% if escogidaTurno.descansoComienza %}{{ escogidaTurno.descansoComienza|date('Y-m-d') }}{% endif %}</td></th>
                </tr>
                <tr>
                    <th>Término del descanso :  <td>{% if escogidaTurno.descansoTermina %}{{ escogidaTurno.descansoTermina|date('Y-m-d') }}{% endif %}</td></th>
                </tr>
                <tr>
                    <th>Horas de trabajo :<td>{{ escogidaTurno.trabajaHoras }}</td></th>
                </tr>
                <tr>
                    <th>Período de la escogida :<td>{{ escogidaTurno.periodoEscogida }}</td></th>
                </tr>
                <tr>
                    <th>{% if not is_granted('ROLE_USUARIO' ) %}<img src="{{ asset('assets/dist/img/data_configuration_26px.png') }}" alt="User Image"> Acciones{% endif %}
                    <td>
                        {#<ul>#}
                        <a href="{{ path('escogidaturno_edit',{ 'id': escogidaTurno.id }) }}"
                           class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="left"
                           title="Editar elemento"><i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="{{ path('escogidaturno_delete',{'id': escogidaTurno.id}) }}"
                           class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="rigth"
                           title="Eliminar elemento"
                           onclick="return confirm('Esta seguro que desea eliminar el elemento')">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        {#</ul>#}
                    </td>
                    </th>
                </tr>
                </thead>
                <tbody>


                </tbody>
            </table>

        </div>
    </div>
  {% endblock %}
