{% extends 'index.html.twig' %} {% block contenido%}
<br />
<div class="col-md-10 offset-md-1">
  {{ form_start(edit_form, { method: "POST" }) }}
  <div class="card shadow">
    <div class="card-body">
      <div class="col-md-10 offset-md-1">
        <h4 class="text-primary">
          Editar Ómnibus
        </h4>
        <br />
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">NoControl</label>
              {{ form_widget(edit_form.noOmnibus, 
              {'attr' : {'class' : 'form-control','pattern':'[0-9]+$'}}
              )}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Chapa</label>
              {{ form_widget(edit_form.chapa,
              {'attr' : {'class' : 'form-control'}}
              )}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Marca</label>
              {{ form_widget(edit_form.typeOmnibus, 
                {'attr' : {'class' : 'form-control'}}
              )}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Base</label>
              {{ form_widget(edit_form.base,
              {'attr' : {'class' : 'form-control'}}
              )}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Emisión FICAV</label>
              {{ form_widget(edit_form.FICAV_emision,
              {'attr' : {'class' : 'form-control datepicker-here'}}
              )}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Vencimiento FICAV</label>
              {{ form_widget(edit_form.FICAV_vencimiento, 
              {'attr' : {'class' : 'form-control datepicker-here'}}
              )}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Licencia Operativa Emitida</label>
              {{ form_widget(edit_form.licenciaOperativaEmision, 
                {'attr' : {'class' : 'form-control datepicker-here'}}
              )}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Licencia Operativa Vence</label>
              {{ form_widget(edit_form.licenciaOperativaVencimiento, 
              {'attr' : {'class' : 'form-control datepicker-here'}}
              )}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Licencia Circulación Emitida</label>
              {{ form_widget(edit_form.licenciaCirculacionEmision, 
                {'attr' : {'class' : 'form-control datepicker-here'}}
              )}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Licencia Circulación Vence</label>
              {{ form_widget(edit_form.licenciaCirculacionVencimiento, 
                {'attr' : {'class' : 'form-control datepicker-here'}}
              )}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Tarjeta de Combustible</label>
          {{ form_widget(edit_form.tarjetaCombustible, 
          {'attr' : {'class' : 'form-control'}}
          )}}
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group" style="margin-left: 1.5rem;">
              <div class="cutom-control custom-checkbox">
                {{ form_widget(edit_form.en_revision) }}
                <label class="custom-control-label" for="omnibus_en_revision">
                  Revisión
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="cutom-control custom-checkbox">
              {{ form_widget(edit_form.is_roto) }}
              <label class="custom-control-label" for="omnibus_is_roto">
                Roto
              </label>
            </div>
          </div>
        </div>
        <br />
        <div class="text-right">
          <a
            class="btn btn-outline-secondary"
            href="{{ path('omnibus_index') }}"
          >
            Cancelar
          </a>
          <button type="submit" class="btn btn-primary" value="Editar">
            Guardar
          </button>
        </div>
      </div>
      {{ form_end(edit_form) }}
      <br />
    </div>
  </div>
</div>
{% endblock %}
