{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <h3 class="m-0 text-primary">Plan de combustible</h3>
  </div>
  <div class="card-body">
    <div class="table-reponsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size:0.85rem;"
      >
        <thead>
          <tr>
            <th>Ruta</th>
            <th>Servicio</th>
            <th>Distancia Kms</th>
            <th>Cantidad viajes promedio</th>
            <th>Tipo ómnibus</th>
            <th>Índice de consumo</th>
            <th>Consumo por Viaje (litros)</th>
            <th>Consumo Total (litros)</th>
          </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
          <tr>
            <td>{{ reporte.noruta }}</td>
            <td>{{ reporte.servicio }}</td>
            <td>{{ reporte.distanciakm }}</td>
            <td>{{ reporte.viajespromedio|number_format(2) }}</td>
            <td>{{ reporte.tipo_omnibus }}</td>
            <td>{{ reporte.indiceconsumonormado }}</td>
            <td>{{ reporte.consumoxviaje }}</td>
            <td>{{ reporte.consumototal }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
