{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h3 class="m-0 font-weight-bold text-primary">
          Tarjetas de Combustible
        </h3>
      </div>
      <div class="col-md-6 text-right">
        {% if not is_granted('ROLE_USUARIO' ) %}
        <a
          class="btn btn-sm btn-default  pull-left"
          href="{{ path('tarjeta_combustible_new') }}"
        >
          <img
            src="{{ asset('assets/dist/img/add_database_26px.png') }}"
            alt="User Image"
          />
          Nuevo
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-reponsive">
      <table
        class="table table-bordered text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size:0.85rem;"
      >
        <thead>
          <th>No. tarjeta</th>
          <th>Tipo de Combustible</th>
          <th>Asignacion</th>
          <th>Fecha de Asignacion</th>
          <th>Gasto Real</th>
          <th>Saldo Acutal</th>
          <th>Fecha de Vencimiento</th>
          <th>Ping</th>
          {% if not is_granted('ROLE_USUARIO' ) %}
          <th>
            <img
              src="{{ asset('assets/dist/img/data_configuration_26px.png') }}"
              alt="User Image"
            />
            Acciones
          </th>
          {% endif %}
        </thead>
        <tbody>
          {% for tarjeta_combustible in tarjeta_combustibles %}
          <tr>
            <td>{{ tarjeta_combustible.noTarjeta }}</td>
            <td>{{ tarjeta_combustible.combustibleTipo }}</td>
            <td>{{ tarjeta_combustible.asignacion }}</td>
            <td>
              {% if tarjeta_combustible.fechaAsignacion %}
              {{ tarjeta_combustible.fechaAsignacion|date('Y-m-d')}}
              {% endif %}
            </td>
            <td>{{ tarjeta_combustible.gastoReal }}</td>
            <td>{{ tarjeta_combustible.saldoActual }}</td>
            <td>
              {% if tarjeta_combustible.fechaVencimiento %}
              {{ tarjeta_combustible.fechaVencimiento|date('Y-m-d')}}
              {% endif %}
            </td>
            <td>{{ tarjeta_combustible.ping }}</td>
            <td>
              <div class="row">
                <div class="col-md-6">
                  <a
                    href="{{
                      path('tarjeta_combustible_delete', {
                        id: tarjeta_combustible.id
                      })
                    }}"
                    class="text-secondary"
                    data-tooltip="Eliminar"
                    data-tooltip-location="top"
                    onclick="return confirm('Esta seguro que desea eliminar el elemento')"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </div>
                <div class="col-md-6">
                  <a
                    href="{{
                      path('tarjeta_combustible_edit', {
                        id: tarjeta_combustible.id
                      })
                    }}"
                    class="text-primary"
                    data-tooltip="Editar"
                    data-tooltip-location="top"
                    ><i class="fas fa-edit"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div id="mymodal" class="modal  inmodal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button
            aria-label="Close"
            data-dismiss="modal"
            class="close"
            type="button"
          >
            <span aria-hidden="true">×</span>
          </button>
          <i class="fa-3x fa fa-warning modal-icon text-red"></i>
          <h4 class="modal-title">Acción Peligrosa</h4>
        </div>
        <div class="modal-body">
          <p>
            Está acción puede ocacionar, comprometer la integridad de los datos!
          </p>
          <small
            >Si no es un usuario avanzado, recomendamos que cancele esta
            acción.</small
          >
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-primary" type="button">
            Cerrar
          </button>
          <a class="btn btn-primary btn-danger btn-delete" href="#">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
