{% extends 'index.html.twig' %}

{% block contenido %}
     {{ form_start(form, {'method' :'POST'}) }}
<div class="box box-danger">
    <div class="box-header with-border">
        <div class="user-block">
            <h3 class="text-center ">Nueva Tarjeta de Combustible</h3>
        </div><!-- /.user-block -->
        <div class="box-tools">
            <ul class="list-inline">
                <li>
                    <a class="text-info" href="{{ path('tarjeta_combustible_index') }}">
                        <i class="glyphicon glyphicon glyphicon-hand-left"></i> Atràs</a>
                </li>
            </ul>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Asignacion</label>
                    {{ form_widget(form.asignacion, {'attr' : {'class' : 'form-control','pattern':'[0-9]+$' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Fecha de Asignacion</label>
                    {{ form_widget(form.fechaAsignacion, {'attr' : {'class' : '' }})}}
                </div>
            </div>
        </div>
        {#<div class="row">#}
            {#<div class="col-sm-6">#}
                {#<div class="form-group">#}
                    {#<label class="col-sm-4 control-label">Gasto Real</label>#}
                    {#{{ form_widget(form.gastoReal, {'attr' : {'class' : 'form-control','pattern':'[0-9]+$' }})}}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Saldo Actual</label>
                    {{ form_widget(form.saldoActual, {'attr' : {'class' : 'form-control','pattern':'[0-9]+$' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Fecha de Vencimiento</label>
                    {{ form_widget(form.fechaVencimiento, {'attr' : {'class' : '' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Tipo de Combustible</label>
                    {{ form_widget(form.combustibleTipo, {'attr' : {'class' : 'form-control' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">No. tarjeta</label>
                    {{ form_widget(form.noTarjeta, {'attr' : {'class' : 'form-control','pattern':'[0-9]+$' }})}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Ping</label>
                    {{ form_widget(form.ping, {'attr' : {'class' : 'form-control','pattern':'[0-9]+$' }})}}
                </div>
            </div>
        </div>

        <table align="center">
            <tr align="">
                {#<td></td>#}
                {#<td  >   {{ form_widget(form.Submit) }}</td>#}
                <td style="width: 10px"> </td>
                <td><input type="submit" class="btn btn-danger btn " style="background-color: #6290ff;margin-right: 5%" value="Crear" /></td>
                <td><a class= "btn btn-danger btn " onclick="window.history.back();" href=""><span class=""> </span>Cancelar</a></td>
            </tr>
            <tr align="">
                {#<td style="width: 0px"> </td>#}

            </tr>
        </table>

    </div><!-- /.box widget-->
    {{ form_end(form) }}
{% endblock %}
{#<h1>Tarjeta_combustible creation</h1>#}

{#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
{#<input type="submit" value="Create" />#}
{#{{ form_end(form) }}#}

{#<ul>#}
    {#<li>#}
        {#<a href="{{ path('tarjeta_combustible_index') }}">Back to the list</a>#}
    {#</li>#}
{#</ul>#}