{% extends 'index.html.twig' %} {% block contenido %}
<br />
{{ form_start(edit_form, { method: "POST" }) }}
<div class="card shadow">
  <div class="card-header">
    <div class="col-md-8 offset-md-2">
      <h3 class="text-center ">Editar Punto de Expedición</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-8 offset-md-2">
      <div class="form-group">
        <label class="col-sm-4 control-label">Nombre</label>
        {{ form_widget(edit_form.nombre,
        {'attr' : {'class' : 'form-control'}}
        )}}
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Ubicación</label>
        {{ form_widget(edit_form.ubicacion,
        {'attr' : {'class' : 'form-control'}}
        )}}
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Descripción</label>
        {{ form_widget(edit_form.descripcion,
        {'attr' : {'class' : 'form-control'}}
        )}}
      </div>
      <br />
      <div class="text-right">
        <a
          class="btn btn-outline-secondary"
          href="{{ path('pto_expedicion_index') }}"
        >
          Cancelar</a
        >
        <input type="submit" class="btn btn-primary " value="Guardar" />
      </div>
      <br />
    </div>
  </div>
  {{ form_end(edit_form) }}
</div>
{% endblock %}
