    <!-- Sidebar Menu -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
       
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('index') }}" >
            <!-- <span class="logo-lg"> -->
            <!-- <img
              height="50"
              width="130"
              src="{{ asset('assets/dist/img/logo_thg_horizontal.png') }}"
            /> -->
            <div class="sidebar-brand-text mx-3 text-center">UEB Ómnibus</div>

            
        <!-- </span> -->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
        </a>
        
        <!-- Divider -->
        <hr class="sidebar-divider mb-0 ml-0 mr-0" />

      <div class="sidebar-content">
        <!-- Heading -->
        <div class="sidebar-heading admin1">
          Administración
        </div>
        <div class="sidebar-heading admin2">
          Admin
        </div>
        {% if is_granted('ROLE_ADMIN' ) %}
        <li class="nav-item {% if 'usuario' in app.request.attributes.get('_route') %}active{% endif %}" >
          <a class="nav-link sidebar-item" href="{{ path('usuario_index') }}">
            <i class="fas fa-users"></i>
            <span>
              Usuarios
            </span> 
          </a>
        </li>
        {% endif %}
        <li class="nav-item {% if 'base' in app.request.attributes.get('_route') %}active{% endif %}">
          <a class="nav-link sidebar-item" href="{{ path('base_index')}}">
            <i class="fas fa-warehouse"></i>
            <span>
              Base
            </span> 
          </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading dpto1">
          Departamentos
        </div>
        <div class="sidebar-heading dpto2">
          Dptos
        </div>
        <li class="nav-item  {% if ('chofer' in app.request.attributes.get('_route') or
            'omnibus' in app.request.attributes.get('_route') or
            'tipo_omnibus' in app.request.attributes.get('_route') or
            'ruta' in app.request.attributes.get('_route') or
            'pto_expedicion' in app.request.attributes.get('_route') or
            'escogidaturno' in app.request.attributes.get('_route') or
            'hojaruta' in app.request.attributes.get('_route') or
            'incidencia' in app.request.attributes.get('_route') or
            'tipoincidencia' in app.request.attributes.get('_route')) and
            not ('ruta_reporte' in app.request.attributes.get('_route')) and
            not ('chofer_reporte' in app.request.attributes.get('_route')) and
            not ('reporte_hoja_ruta_indicadores' in app.request.attributes.get('_route')) and
            not ('reporte_hoja_ruta_acumulado' in app.request.attributes.get('_route')) and
            not ('omnibus_reporteKms' in app.request.attributes.get('_route'))
            %}active{% endif %}">
            <a
            class="nav-link collapsed sidebar-item"
            href="#"
            data-toggle="collapse"
            data-target="#collapseOperaciones"
            aria-expanded="true"
            aria-controls="collapseOperaciones"
            >
            <i class="fas fa-briefcase"></i>
            <span>Operaciones</span>
          </a>
          <div
          id="collapseOperaciones"
              class="collapse {% if ('chofer' in app.request.attributes.get('_route') or
              'omnibus' in app.request.attributes.get('_route') or
              'tipo_omnibus' in app.request.attributes.get('_route') or
              'ruta' in app.request.attributes.get('_route') or
              'pto_expedicion' in app.request.attributes.get('_route') or
              'escogidaturno' in app.request.attributes.get('_route') or
              'hojaruta' in app.request.attributes.get('_route') or
              'incidencia' in app.request.attributes.get('_route') or
              'tipoincidencia' in app.request.attributes.get('_route')) and
              not ('ruta_reporte' in app.request.attributes.get('_route')) and
              not ('chofer_reporte' in app.request.attributes.get('_route')) and
              not ('reporte_hoja_ruta_indicadores' in app.request.attributes.get('_route')) and
              not ('reporte_hoja_ruta_acumulado' in app.request.attributes.get('_route')) and
              not ('omnibus_reporteKms' in app.request.attributes.get('_route'))
              %}show{% endif %}"
              aria-labelledby="headingOperaciones"
              data-parent="#accordionSidebar"
              >
                <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item {% if 'chofer' in app.request.attributes.get('_route') and
                  not ('chofer_reporte' in app.request.attributes.get('_route')) 
                  %}active{% endif %}" href="{{ path('chofer_index') }}">
                    <i class="fas fa-user"></i> 
                    <span>Choferes</span> 
                </a>
                <a class="collapse-item {% if 'omnibus' in app.request.attributes.get('_route') and
                not ('tipo_omnibus' in app.request.attributes.get('_route')) and
                not ('omnibus_reporteKms' in app.request.attributes.get('_route'))
                 %}active{% endif %}" href="{{ path('omnibus_index') }}">
                    <i class="fas fa-bus"></i> 
                    <span>Ómnibus</span> 
                </a>
                <a class="collapse-item {% if 'tipo_omnibus' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('tipo_omnibus_index')}}">
                    <i class="fas fa-bus-alt"></i> 
                    <span>Marca Ómnibus</span> 
                </a>
                <a class="collapse-item {% if 'ruta' in app.request.attributes.get('_route') and
                not ('hojaruta' in app.request.attributes.get('_route')) and
                not ('ruta_reporte' in app.request.attributes.get('_route')) and
                not ('reporte_hoja_ruta_indicadores' in app.request.attributes.get('_route')) and
                not ('reporte_hoja_ruta_acumulado' in app.request.attributes.get('_route')) 
                %}active{% endif %}" href="{{ path('ruta_index') }}">
                    <i class="fas fa-route"></i> 
                    <span>Rutas</span> 
                </a>
                <a class="collapse-item {% if 'pto_expedicion' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('pto_expedicion_index') }}">
                    <i class="fas fa-map-marker-alt"></i> 
                    <span>Ptos de expedición</span> 
                </a>
                <a class="collapse-item {% if 'escogidaturno' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('escogidaturno_index') }}">
                    <i class="fas fa-ticket-alt"></i> 
                    <span>Escogida de Turno </span> 
                </a>
                <a class="collapse-item {% if 'hojaruta' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('hojaruta_index') }}">
                    <i class="fas fa-clipboard"></i> 
                    <span>Hoja de Ruta</span> 
                </a>
                <a class="collapse-item {% if 'incidencia' in app.request.attributes.get('_route') and
                not ('tipoincidencia' in app.request.attributes.get('_route'))
                %}active{% endif %}" href="{{ path('incidencia_index') }}">
                    <i class="fas fa-clipboard-list"></i> 
                    <span>Incidencias</span> 
                </a>
                <a class="collapse-item {% if 'tipoincidencia' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('tipoincidencia_index') }}">
                    <i class="fas fa-clipboard-list"></i> 
                    <span>Tipo de Incidencias</span> 
                </a>
              </div>
            </div>
        </li>
        <li class="nav-item {% if 'tarjeta_combustible' in app.request.attributes.get('_route') %}active{% endif %}">
            <a
              class="nav-link collapsed sidebar-item"
              href="#"
              data-toggle="collapse"
              data-target="#collapseEnergia"
              aria-expanded="true"
              aria-controls="collapseEnergia"
            >
                <i class="fas fa-plug"></i>
                <span>Energía</span>
            </a>
            <div
                id="collapseEnergia"
                class="collapse {% if 'tarjeta_combustible' in app.request.attributes.get('_route') or
                'combustible_habilitado' in app.request.attributes.get('_route') or
                'combustible_asignado' in app.request.attributes.get('_route') or
                'tarjeta_combustible_parte_mensual' in app.request.attributes.get('_route') or
                'tarjeta_combustible_parte' in app.request.attributes.get('_route')%}
                show
                {% endif %}"
                aria-labelledby="headingEnergia"
                data-parent="#accordionSidebar"
            >
                <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item {% if 'tarjeta_combustible' in app.request.attributes.get('_route') and not ('tarjeta_combustible_parte' in app.request.attributes.get('_route')) and not ('tarjeta_combustible_mensual_parte' in app.request.attributes.get('_route')) %}active{% endif %}" href="{{ path('tarjeta_combustible_index') }}">
                    <i class="fa fa-credit-card"></i> 
                    <span>Tarjeta Combustible</span>
                  </a>
                  <a class="collapse-item {% if 'combustible_asignado' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('combustible_asignado_index') }}">
                    <i class="fa fa-file-signature"></i> 
                    <span>Asignaciones</span>
                  </a>
                  <a class="collapse-item {% if 'combustible_habilitado' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('combustible_habilitado_index') }}">
                    <i class="fa fa-gas-pump"></i> 
                    <span>Habilitaciones</span>
                  </a>
                  <a class="collapse-item {% if 'tarjeta_combustible_parte' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('tarjeta_combustible_parte') }}">
                    <i class="fa fa-file-invoice"></i> 
                    <span>Parte Diario</span>
                  </a>
                  <a class="collapse-item {% if 'tarjeta_combustible_mensual_parte' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('tarjeta_combustible_mensual_parte') }}">
                    <i class="fa fa-file-invoice"></i> 
                    <span>Parte Mensual</span>
                  </a>
                </div>
            </div>
        </li>
        <li class="nav-item {% if 'trabajador' in app.request.attributes.get('_route') %}active{% endif %}">
          <a 
              class="nav-link collapsed sidebar-item"
              href="#"
              data-toggle="collapse"
              data-target="#collapseRRHH"
              aria-expanded="true"
              aria-controls="collapseRRHH"
            >
              <i class="fas fa-users"></i>
              <span>Recursos Humanos</span>
            </a>
            <div
              id="collapseRRHH"
              class="collapse {% if 'trabajador' in app.request.attributes.get('_route') %}show{% endif %}"
              aria-labelledby="headingRRHH"
              data-parent="#accordionSidebar"
            >
              <div class="bg-white py-2 collapse-inner rounded">
                <a  class="collapse-item {% if 'trabajador' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('trabajador_index') }}">
                  <i class="fas fa-user"></i> <span>Trabajador</span></i>
                </a>
              </div>
            </div>
            <ul class="treeview-menu">
            </ul>
        </li>
        <li class="nav-item {% if 'gps' in app.request.attributes.get('_route') %}active{% endif %}">
            <a 
              class="nav-link collapsed sidebar-item"
              href="#"
              data-toggle="collapse"
              data-target="#collapseFlotas"
              aria-expanded="true"
              aria-controls="collapseFlotas"
            >
              <i class="fas fa-bus-alt"></i>
              <span>Control de Flotas</span>
            </a>
            <div
              id="collapseFlotas"
              class="collapse {% if 'gps' in app.request.attributes.get('_route') %}show{% endif %}"
              aria-labelledby="headingFlotas"
              data-parent="#accordionSidebar"
            >
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if 'gps' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('gps_index') }}">
                  <i class="fas fa-bus"></i>
                  <span>Control de Flotas</span>
                </a>
              </div>
            </div>
        </li>

        <li class="nav-item {% if 'recaudacion' in app.request.attributes.get('_route') and
        not ('plan_recaudacion' in app.request.attributes.get('_route')) and
        not ('recaudacion_estimada' in app.request.attributes.get('_route')) and
        not ('pronostico_recaudacion' in app.request.attributes.get('_route')) 
        %}active{% endif %}">
        <a 
        class="nav-link collapsed sidebar-item"
        href="#"
        data-toggle="collapse"
        data-target="#collapseRecacudacion"
        aria-expanded="true"
        aria-controls="collapseRecacudacion"
        >
        <i class="fas fa-money-check-alt"></i>
        <span>Recaudación</span>
      </a>
      <div
      id="collapseRecacudacion"
      class="collapse {% if 'recaudacion' in app.request.attributes.get('_route') and
              not ('recaudacion_estimada' in app.request.attributes.get('_route')) and
              not ('plan_recaudacion' in app.request.attributes.get('_route')) and
              not ('pronostico_recaudacion' in app.request.attributes.get('_route')) 
              %}show{% endif %}"
              aria-labelledby="headingRecacudacion"
              data-parent="#accordionSidebar"
            >
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if 'recaudacion' in app.request.attributes.get('_route') and
                not ('recaudacionXfecha' in app.request.attributes.get('_route')) and
                not ('plan_recaudacion' in app.request.attributes.get('_route')) and
                not ('recaudacion_estimada' in app.request.attributes.get('_route')) and
                not ('pronostico_recaudacion' in app.request.attributes.get('_route'))
                %}active{% endif %}" href="{{ path('recaudacion_index') }}">
                  <i class="fas fa-money-check"></i>
                  <span>Recaudaciones</span>
                </a>
                <a class="collapse-item {% if 'recaudacionXfecha' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('recaudacion_recaudacionXfecha') }}">
                  <i class="fas fa-money-check-alt"></i> 
                  <span>Total por Fecha</span>
                </a>
              </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">
          Reportes
        </div>
        <div class="sidebar-heading" style="visibility: hidden;">
          Reportes
        </div>

        <li class="nav-item {% if 'plan' in app.request.attributes.get('_route') %}active{% endif %}">
          <a
            class="nav-link collapsed sidebar-item"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePlanes"
            aria-expanded="true"
            aria-controls="collapsePlanes"
          >
            <i class="fas fa-project-diagram"></i>
            <span>Planes</span>
          </a>
          <div
            id="collapsePlanes"
            class="collapse {% if 'plan' in app.request.attributes.get('_route') %}show{% endif %}"
            aria-labelledby="headingPlanes"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item {% if 'plan_combustible' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('plan_combustible') }}">
                <i class="fas fa-gas-pump"></i>
                <span>
                  Combustible
                </span> 
              </a>
              <a class="collapse-item {% if 'plan_recaudacion' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('plan_recaudacion') }}">
                <i class="fas fa-money-check-alt"></i>
                <span>
                  Recaudación
                </span> 
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item {% if 'pronostico' in app.request.attributes.get('_route') %}active{% endif %}">
          <a
            class="nav-link collapsed sidebar-item"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePronosticos"
            aria-expanded="true"
            aria-controls="collapsePronosticos"
          >
            <i class="fas fa-chart-line"></i>
            <span>Pronósticos</span>
          </a>
          <div
            id="collapsePronosticos"
            class="collapse {% if 'pronostico' in app.request.attributes.get('_route') %}show{% endif %}"
            aria-labelledby="headingPronosticos"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item {% if 'pronostico_combustible' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('pronostico_combustible') }}">
                <i class="fas fa-gas-pump"></i>
                <span>
                  Combustible
                </span> 
              </a>
              <a class="collapse-item {% if 'pronostico_recaudacion' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('pronostico_recaudacion') }}">
                <i class="fas fa-money-check-alt"></i>
                <span>
                  Recaudación
                </span> 
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item {% if 'ruta_reporte' in app.request.attributes.get('_route') and 
        not 'ruta_reportes_salidas' in app.request.attributes.get('_route')  %}active{% endif %}">
          <a class="nav-link sidebar-item" href="{{ path('ruta_reporte') }}">
            <i class="fas fa-clipboard-list"></i>
            <span>
              Incidencias
            </span> 
          </a>
        </li>
        <li class="nav-item {% if 'chofer_reporte' in app.request.attributes.get('_route') %}active{% endif %}">
          <a class="nav-link sidebar-item" href="{{ path('chofer_reporte') }}">
            <i class="fas fa-clock"></i>
            <span>
              Horas Trabajadas
            </span> 
          </a>
        </li>
        <li class="nav-item {% if 'omnibus_reporteKms' in app.request.attributes.get('_route') %}active{% endif %}">
          <a class="nav-link sidebar-item" href="{{ path('omnibus_reporteKms') }}">
            <i class="fas fa-route"></i>
            <span>
              Taller (km recorridos)
            </span> 
          </a>
        </li>
        <li class="nav-item {% if 'combustibleHabilitado' in app.request.attributes.get('_route') %}active{% endif %}">
          <a class="nav-link sidebar-item" href="{{ path('combustibleHabilitado') }}">
            <i class="fas fa-credit-card"></i>
            <span>
              Tarjeta Combustible y Gps
            </span> 
          </a>
        </li>
        <li class="nav-item {% if 'reporte_hoja_ruta_indicadores' in app.request.attributes.get('_route') or 
        'reporte_hoja_ruta_acumulado' in app.request.attributes.get('_route') %}active{% endif %}">
          <a class="nav-link sidebar-item" href="{{ path('reporte_hoja_ruta_indicadores') }}">
            <i class="fas fa-clipboard"></i>
            <span>
              Indicadores HR
            </span> 
          </a>
        </li>
        <li class="nav-item {% if 'ruta_reporte_salidas' in app.request.attributes.get('_route') or
        'ruta_reporte_acumulado' in app.request.attributes.get('_route')%}active{% endif %}">
          <a class="nav-link sidebar-item" href="{{ path('ruta_reporte_salidas') }}">
            <i class="fas fa-clipboard"></i>
            <span>
              Indicadores Salidas
            </span>   
          </a>
        </li>
        <li class="nav-item {% if 'recaudacion_estimada' in app.request.attributes.get('_route')%}active{% endif %}">
          <a class="nav-link sidebar-item" href="{{ path('recaudacion_estimada') }}">
            <i class="fas fa-money-check-alt"></i>
            <span>
              Recaudación Estimada
            </span>   
          </a>
        </li>
        <li class="nav-item {% if 'reporteporOmnibus' in app.request.attributes.get('_route') %}active{% endif %}">
          <a class="nav-link sidebar-item" href="{{ path('reporteporOmnibus') }}">
            <i class="fas fa-file-alt"></i>
            <span>
              Reporte General
            </span> 
          </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />
            
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      <div/>
    </ul>
    <!-- /.sidebar-menu -->