
{% extends 'index.html.twig' %}

    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('assets/dist/js/deleteBase.js') }}"></script>
    {% endblock javascripts %}

    {% block contenido%}
        <!-- Default box -->
        <div class="box box-danger">
            <div class="box-header with-border">
                <div class="user-block">
                    <h3 class="text-center ">Lista de Recaudaciones</h3>
                </div><!-- /.user-block -->
                <div class="box-tools">

                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                {#<h5>Total de registros: {{ pagination.getTotalItemCount }}</h5>#}

                <table class="table table-hover">
                    <thead>

                    <th>No.HojaRuta</th>
                    <th>No.sello</th>
                    <th>No.vale</th>
                    <th>Recaudación</th>
                    <th>Recaudador</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    {% if not is_granted('ROLE_USUARIO' ) %}<th><img src="{{ asset('assets/dist/img/data_configuration_26px.png') }}" alt="User Image"> Acciones</th>{% endif %}
                    </thead>
                    <tbody>
                    {% for recaudacion in recaudacions %}
                        <tr>
                            <td>{{ recaudacion.hojaRuta }}</td>
                            <td>{{ recaudacion.noSello }}</td>
                            <td>{{ recaudacion.noVale }}</td>
                            <td>{{ recaudacion.recaudacion }}</td>
                            <td>{{ recaudacion.recaudador }}</td>
                            <td>{% if recaudacion.fecha %}{{ recaudacion.fecha|date('Y-m-d') }}{% endif %}</td>
                            <td>{% if recaudacion.hora %}{{ recaudacion.hora|date('Y-m-d') }}{% endif %}</td>

                            <td>
                                <ul>
                                    <a href="{{ path('recaudacion_edit',{ 'id': recaudacion.id }) }}"
                                       class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="right"
                                       title="Editar elemento"><i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a href="{{ path('recaudacion_delete',{'id': recaudacion.id}) }}"
                                       class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="right"
                                       title="Eliminar elemento"
                                       onclick="return confirm('Esta seguro que desea eliminar el elemento')">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>

            </div><!-- /.box-body -->

            <div class="row">

                <div class="col-sm-4">
                    {% if not is_granted('ROLE_USUARIO' ) %}
                        <a class="btn btn-sm btn-default  pull-left" href="{{ path('recaudacion_new') }}">
                            <img src="{{ asset('assets/dist/img/add_database_26px.png') }}" alt="User Image"> Nuevo
                        </a>
                        {#<a class="btn btn-sm btn-default  pull-left" href="{{ path('recaudacion_reporte') }}">#}
                            {#<img src="{{ asset('assets/dist/img/torah_filled_25px.png') }}" alt="User Image"> Reporte#}
                        {#</a>#}
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    {#{{ knp_pagination_render(pagination) }}#}
                </div>
                <div class="col-sm-4">


                </div>
            </div>


        </div><!-- /.box -->
        <div id="mymodal" class="modal  inmodal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                            <span aria-hidden="true">×</span></button>
                        <i class="fa-3x fa fa-warning modal-icon text-red"></i>
                        <h4 class="modal-title">Acción Peligrosa</h4>
                    </div>
                    <div class="modal-body">
                        <p>Está acción puede ocacionar, comprometer la integridad de los datos!</p>
                        <small>Si no es un usuario avanzado, recomendamos que cancele esta acción.</small>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-primary" type="button">Cerrar</button>
                        <a class="btn btn-primary btn-danger btn-delete" href="#">Eliminar</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    {% endblock %}

