{% extends 'index.html.twig' %} {% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/dist/js/deleteBase.js') }}"></script>
{% endblock javascripts %} {% block contenido%}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h3 class="m-0 font-weight-bold text-primary">
          Recaudaciones
        </h3>
      </div>
      <div class="col-md-6 text-right">
        {% if not is_granted('ROLE_USUARIO' ) %}
        <a
          class="btn btn-sm btn-default  pull-left"
          href="{{ path('recaudacion_new') }}"
        >
          <img
            src="{{ asset('assets/dist/img/add_database_26px.png') }}"
            alt="User Image"
          />
          Nuevo
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-reponsive">
      <table
        class="table table-bordered text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size:0.85rem;"
      >
        <thead>
          <th>No.HojaRuta</th>
          <th>No.sello</th>
          <th>No.vale</th>
          <th>Recaudación</th>
          <th>Recaudador</th>
          <th>Fecha</th>
          <th>Hora</th>
          {% if not is_granted('ROLE_USUARIO' ) %}
          <th>
            <img
              src="{{ asset('assets/dist/img/data_configuration_26px.png') }}"
              alt="User Image"
            />
            Acciones
          </th>
          {% endif %}
        </thead>
        <tbody>
          {% for recaudacion in recaudacions %}
          <tr>
            <td>{{ recaudacion.hojaRuta }}</td>
            <td>{{ recaudacion.noSello }}</td>
            <td>{{ recaudacion.noVale }}</td>
            <td>{{ recaudacion.recaudacion }}</td>
            <td>{{ recaudacion.recaudador }}</td>
            <td>
              {% if recaudacion.fecha %}{{ recaudacion.fecha|date('Y-m-d') }}{%
              endif %}
            </td>
            <td>
              {% if recaudacion.hora %}{{ recaudacion.hora|date('Y-m-d') }}{%
              endif %}
            </td>
            <td>
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <a
                    href="{{
                      path('recaudacion_delete', { id: recaudacion.id })
                    }}"
                    class="text-secondary"
                    data-tooltip="Eliminar"
                    data-tooltip-location="top"
                    onclick="return confirm('Esta seguro que desea eliminar el elemento')"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </div>
                <div class="col-md-4">
                  <a
                    href="{{
                      path('recaudacion_edit', { id: recaudacion.id })
                    }}"
                    class="text-primary"
                    data-tooltip="Editar"
                    data-tooltip-location="top"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="mymodal" class="modal  inmodal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button
          aria-label="Close"
          data-dismiss="modal"
          class="close"
          type="button"
        >
          <span aria-hidden="true">×</span>
        </button>
        <i class="fa-3x fa fa-warning modal-icon text-red"></i>
        <h4 class="modal-title">Acción Peligrosa</h4>
      </div>
      <div class="modal-body">
        <p>
          Está acción puede ocacionar, comprometer la integridad de los datos!
        </p>
        <small
          >Si no es un usuario avanzado, recomendamos que cancele esta
          acción.</small
        >
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button">
          Cerrar
        </button>
        <a class="btn btn-primary btn-danger btn-delete" href="#">Eliminar</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
