{% extends 'index.html.twig' %}

{% block contenido %}
<div class="box box-danger">
    <div class="box-header with-border">
        <div class="user-block">
            <h3 class="text-center ">Plan de Recaudación</h3>
        </div><!-- /.user-block -->
        <div class="box-tools">
            <ul class="list-inline">
                {#<li>#}
                    {#<a class="text-info" href="{{ path('omnibus_index') }}">#}
                        {#<i class="glyphicon glyphicon glyphicon-hand-left"></i> Atras</a>#}
                {#</li>#}
            </ul>
        </div>

    </div>
    <div class="panel-body">
        <table id="sample-table-2" class="table table-striped table-bordered table-hover">

            <thead>
            <tr>
                <th class="bg-primary">Ruta</th>
                <th class="bg-primary">Fecuencia</th>
                <th class="bg-primary">Cantidad Viajes Promedio</th>
                <th class="bg-primary">Cantidad Pasajeros Promedio</th>
                <th class="bg-primary">Precio Pasaje(- 10% evación)</th>
                <th class="bg-primary">Recaudación por Pasajeros</th>
                <th class="bg-primary">Combustible Asignado</th>
                <th class="bg-primary">Recaudación por Litros de Combustible</th>
                <th class="bg-primary">Recaudación Total</th>
            </tr>
            </thead>
            <tbody>

            {% for reporte in reportes %}
                <tr>
                    <td>{{ reporte.noruta }}</td>
                    <td>{{ reporte.frecuencia_cantdias }}</td>
                    <td>{{ reporte.cantidadviajes_promedio }}</td>
                    <td>{{ reporte.cantpasajerospromedio }}</td>
                    <td>{{ reporte.preciopasaj_evasion }}</td>
                    <td>{{ reporte.recaudacion_xpasajero }}</td>
                    <td>{{ reporte.asignacion }}</td>
                    <td>{{ reporte.recaudacion_xltrcombustible }}</td>
                    <td>{{ reporte.recaudacion_total }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
