{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <h3 class="m-0 text-primary">
      Recaudación total por fecha
    </h3>
  </div>
  <div class="card-body">
    <div class="table-reponsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size:0.85rem;"
      >
        <thead>
          <tr>
            <th>Ruta</th>
            <th>Ómnibus</th>
            <th>Hoja de Ruta</th>
            <th>Chofer</th>
            <th>No.sello</th>
            <th>No.vale</th>
            <th>Recaudación</th>
            <th>Recaudador</th>
          </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
          <tr>
            <td>{{ reporte.noruta }}</td>
            <td>{{ reporte.noomnibus }}</td>
            <td>{{ reporte.nohojaruta }}</td>
            <td>{{ reporte.nombre }}</td>
            <td>{{ reporte.nosello }}</td>
            <td>{{ reporte.novale }}</td>
            <td>{{ reporte.recaudacion }}</td>
            <td>{{ reporte.recaudador }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
