{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h3 class="m-0 text-primary">Rutas</h3>
      </div>
      <div class="col-md-6 text-right">
        {% if not is_granted('ROLE_USUARIO' ) %}
        <a
          class="btn btn-sm btn-default pull-left"
          href="{{ path('ruta_new') }}"
        >
          <img
            src="{{ asset('assets/dist/img/add_database_26px.png') }}"
            alt="User Image"
          />
          Nuevo
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body" style="font-size: 0.75rem;">
    <div class="table-reponsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <th>Ruta</th>
          <th>Servicio</th>
          <th>Distancia en kms</th>
          <th>Cant. Pasajeros Promedio</th>
          <th>Precio Pasaje</th>
          <th>Salida</th>
          <th>Km Salida</th>
          <th>Destino</th>
          <th>Frecuencia</th>
          <th>Cantidad de Ómnibus</th>
          {% if not is_granted('ROLE_USUARIO' ) %}
          <th>
            Acciones
          </th>
          {% endif %}
        </thead>
        <tbody>
          {% for ruta in rutas %}
          <tr>
            <td>{{ ruta.noRuta }}</td>
            <td>{{ ruta.servicio }}</td>
            <td>{{ ruta.distanciaKm }}</td>
            <td>{{ ruta.cantPasajerosPromedio }}</td>
            <td>{{ ruta.precioPasaje }}</td>
            <td>{{ ruta.salida }}</td>
            <td>{{ ruta.kmSalida }}</td>
            <td>{{ ruta.destino }}</td>
            <td>{{ ruta.frecuencia }}</td>
            <td>{{ ruta.cantidadMedios }}</td>
            <td>
              <div class="row">
                <div class="col-md-3 offset-md-1">
                  <a
                    class="text-secondary"
                    href="#"
                    rol="button"
                    data-toggle="modal"
                    data-target="#modalConfirmDelete-{{ ruta.id }}"
                    data-tooltip="Eliminar"
                    data-tooltip-location="top"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </a>
                  {% include "commons/confirmDeleteModal.html.twig" with
                  {'instanceToDelete': ruta, 'path':'ruta_delete'} %}
                </div>
                <div class="col-md-4">
                  <a
                    href="{{ path('ruta_edit', { id: ruta.id }) }}"
                    class="text-primary"
                    data-tooltip="Editar"
                    data-tooltip-location="top"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="mymodal" class="modal inmodal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button
          aria-label="Close"
          data-dismiss="modal"
          class="close"
          type="button"
        >
          <span aria-hidden="true">×</span>
        </button>
        <i class="fa-3x fa fa-warning modal-icon text-red"></i>
        <h4 class="modal-title">Acción Peligrosa</h4>
      </div>
      <div class="modal-body">
        <p>
          Está acción puede ocacionar, comprometer la integridad de los datos!
        </p>
        <small
          >Si no es un usuario avanzado, recomendamos que cancele esta
          acción.</small
        >
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button">
          Cerrar
        </button>
        <a class="btn btn-primary btn-danger btn-delete" href="#">Eliminar</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
