{% extends 'index.html.twig' %} {% block contenido %}
{{ form_start(edit_form, { method: "POST" }) }}
<br />
<div class="col-md-8 offset-md-2">
  <div class="card shadow">
    <div class="card-body">
      <h4 class="text-primary">
        Editar Asignación
      </h4>
      <br />
      <div class="form-group">
        <label class="control-label">Tarjeta</label>
        {{ form_widget(edit_form.tarjeta, 
                {'attr' : {'class' : 'form-control' }}
        )}}
      </div>
      <div class="form-group">
        <label class="control-label">Cantidad asignada</label>
        {{ form_widget(edit_form.cantAsignada, 
                {'attr' : {'class' : 'form-control' }}
        )}}
      </div>
      <div class="form-group">
        <label class="control-label">Fecha</label>
        {{ form_widget(edit_form.fecha, 
                {'attr' : {'class' : 'form-control datepicker-here','value': combustibleAsignado.fecha|date('Y-m-d', false)}}
        )}}
      </div>
      <br />
      <div class="text-right">
        <a
          class="btn btn-outline-secondary"
          href="{{ path('combustible_asignado_index') }}"
        >
          Cancelar
        </a>
        <button type="submit" class="btn btn-primary" value="Crear">
          Guardar
        </button>
      </div>
      <br />
    </div>
  </div>
  {{ form_end(edit_form) }}
</div>
{% endblock %}
