{% extends "base.html.twig" %} {% block stylesheets %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ asset('assets/plugins/animate/animate.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ asset('assets/bootstrap/css/bootstrap.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ asset('assets/plugins/css-hamburgers/hamburgers.min.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ asset('assets/plugins/animsition/css/animsition.min.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ asset('assets/plugins/select2/select2.min.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ asset('assets/plugins/daterangepicker/daterangepicker.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ asset('css/login/util.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ asset('css/login/main.css') }}"
/>
{%endblock%} {% block contenido %}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100" style="height: 100vh;">
      
      <form class="login100-form validate-form" action="{{ path("login_check") }}" method="post">
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center text-secondary">
            Un sistema especialmente diseñado y desarrollado para la Empresa Transporte Holguín
          </div>
        </div>
        <br/>
        <span class="login100-form-title p-b-43">
          Introduzca sus credenciales
        </span>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="wrap-input100 validate-input" data-validate="El usuario es requerido"/>
              <input class="input100" style="border-radius:10px;" type="text" id="username" name="_username" required="required" value="{{last_username}}" autocomplete="off" placeholder="Usuario"/>
              <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="La contraseña es requerida">
              <input class="input100" style="border-radius:10px;" type="password" id="password" name="_password" required="required" value = "" autocomplete="new-password" placeholder="Contraseña" />
              <span class="focus-input100"></span>
            </div>
            <div class="container-login100-form-btn">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
              <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-outline-primary" style="width:100%;">
                Entrar
              </button>
            </div>
          </div>
        </div>
      </form>
      <div
        class="login100-more"
        style="background-image: url('{{asset('assets/dist/img/thg_front.jpg')}}');"
      ></div>
    </div>
  </div>
</div>

{% block javascripts %}
<script>
  window.onload=()=>{
    if(document.getElementById("username").value !==""){
      $('.input100').each(function(){
        $(this).addClass('has-val');
      })

    }
    console.log(JSON.stringify(document.getElementById("username").value))
     
  }
</script>
<script src="{{ asset('assets/plugins/jQuery/jquery-3.2.1.min.js') }}"></script>
<script src="{{
    asset('assets/plugins/animsition/js/animsition.min.js')
  }}"></script>
<script src="{{ asset('assets/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('assets/plugins/select2/select2.min.js') }}"></script>
<script src="{{
    asset('assets/plugins/daterangepicker/moment.min.js')
  }}"></script>
<script src="{{
    asset('assets/plugins/daterangepicker/daterangepicker.js')
  }}"></script>
<script src="{{
    asset('assets/plugins/countdowntime/countdowntime.js')
  }}"></script>
<script src="{{ asset('js/login/main.js') }}"></script>
{% endblock %} {% endblock %}
