{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <h3 class="m-0 text-primary">Plan de recaudaci贸n</h3>
  </div>
  <div class="card-body">
    <div class="table-reponsive">
      <table
        class="table text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
        style="font-size: 0.75rem;"
      >
        <thead>
          <tr>
            <th>Ruta</th>
            <th>Frecuencia</th>
            <th>Cantidad Viajes Promedio</th>
            <th>Cantidad Pasajeros Promedio</th>
            <th>Precio Pasaje(- 10% evaci贸n)</th>
            <th>Recaudaci贸n por Pasajeros</th>
            <th>Recaudaci贸n Total</th>
          </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
          <tr>
            <td>{{ reporte.noruta }}</td>
            <td>{{ reporte.frecuencia_cantdias }}</td>
            <td>{{ reporte.cantidadviajes_promedio|number_format(2) }}</td>
            <td>{{ reporte.cantpasajerospromedio }}</td>
            <td>{{ reporte.preciopasaj_evasion }}</td>
            <td>{{ reporte.recaudacion_xpasajero }}</td>
            <td>{{ reporte.recaudacion_total }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
