{% extends 'index.html.twig' %} {% block contenido %}
<br />
<div class="card shadow">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h3 class="m-0 font-weight-bold text-primary">
          Lista de Escogidas de Turnos
        </h3>
      </div>
      <div class="col-md-6 text-right">
        {% if not is_granted('ROLE_USUARIO' ) %}
        <a
          class="btn btn-sm btn-default  pull-left"
          href="{{ path('escogidaturno_new') }}"
        >
          <img
            src="{{ asset('assets/dist/img/add_database_26px.png') }}"
            alt="User Image"
          />
          Nuevo
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body" style="font-size: 0.75rem;">
    <div class="table-reponsive">
      <table
        class="table table-bordered text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <th>Ruta</th>
          <th>Ómnibus</th>
          <th>Turno</th>
          <th>Empieza</th>
          <th>Sale</th>
          <th>Termina</th>
          <th>Cant de viajes</th>
          <th>Chofer</th>
          <th>Período de escogida</th>
          <th>
            <img
              src="{{ asset('assets/dist/img/data_configuration_26px.png') }}"
              alt="User Image"
            />
            Acciones
          </th>
        </thead>
        <tbody>
          {% for escogidaTurno in escogidaTurnos %}
          <tr>
            <td>{{ escogidaTurno.ruta }}</td>
            <td>{{ escogidaTurno.omnibus }}</td>
            <td>{{ escogidaTurno.turno }}</td>
            <td>
              {% if escogidaTurno.empieza %}
              {{ escogidaTurno.empieza|date('H:i')}}
              {% endif %}
            </td>
            <td>
              {% if escogidaTurno.sale %}
              {{ escogidaTurno.sale|date('H:i') }}
              {%endif %}
            </td>
            <td>
              {% if escogidaTurno.termina %}
              {{ escogidaTurno.termina|date('H:i')}}
              {% endif %}
            </td>
            <td>{{ escogidaTurno.cantidadViajes }}</td>
            <td>{{ escogidaTurno.chofer }}</td>
            <td>{{ escogidaTurno.periodoEscogida }}</td>
            <td>
              <div class="row" style="font-size:1rem;">
                <div class="col md-6">
                  <a
                    href="{{
                      path('escogidaturno_delete', { id: escogidaTurno.id })
                    }}"
                    class="text-secondary"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Eliminar elemento"
                    onclick="return confirm('Esta seguro que desea eliminar el elemento')"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </div>
                <div class="col md-6">
                  <a
                    href="{{
                      path('escogidaturno_edit', { id: escogidaTurno.id })
                    }}"
                    class="text-primary"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Editar elemento"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="mymodal" class="modal  inmodal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button
          aria-label="Close"
          data-dismiss="modal"
          class="close"
          type="button"
        >
          <span aria-hidden="true">×</span>
        </button>
        <i class="fa-3x fa fa-warning modal-icon text-red"></i>
        <h4 class="modal-title">Acción Peligrosa</h4>
      </div>
      <div class="modal-body">
        <p>
          Está acción puede ocacionar, comprometer la integridad de los datos!
        </p>
        <small
          >Si no es un usuario avanzado, recomendamos que cancele esta
          acción.</small
        >
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button">
          Cerrar
        </button>
        <a class="btn btn-primary btn-danger btn-delete" href="#">Eliminar</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
